body {background:#000;margin:0;padding:0;color:#555;font-size:13px;font-family:Tahoma, Geneva, sans-serif;}
img,form {border:0;margin:0;}
a,input {outline:none;}
a {text-decoration:underline;}
a:hover {text-decoration:none;}
h1,h2, h3, h4, h5, h6 {font-weight:normal;margin:5px 0;padding:0;}
h1 {font-size:26px;}
h2 {font-size:21px;}
h3 {font-size:19px;}
h4 {font-size:17px;}
h5 {font-size:15px;}
h6 {font-size:13px;font-family:Play;}
ul {list-style:square;}
hr {border:none;height:2px;background:url(../img/sep-d.png);}
.clr {clear:both;}
.wrapper {width:1000px;margin:0 auto;}
#main-bg {min-width:1000px;}
.ttl-d {position:absolute;top:0;left:0;width:100%;height:100%;display:block;background:url(../img/dirt.png) center center;}

#header {height:300px;position:relative;}
.site-l {position:absolute;top:51px;left:-25px;width:184px;height:170px;}
.site-names {position:absolute;top:100px;left:45px;}
.site-n {width:260px;height:80px;text-align:left;-moz-transform:rotate(-5deg);-ms-transform: rotate(-5deg);-webkit-transform: rotate(-5deg);-o-transform: rotate(-5deg);transform:rotate(-5deg);}
.site-n a {position:relative;text-decoration:none;font-size:32px;line-height:90%;text-shadow:2px 2px 0 #fff;}
.site-n .ttl-d a {display:block;width:100%;height:100%;}
.site-d {display:inline-block;white-space:nowrap;background:url(../img/des.png);color:#fff;font-size:13px;margin:10px 0 0 25px;padding:0 10px;height:22px;line-height:22px;-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-webkit-transform: rotate(10deg);-o-transform: rotate(10deg);transform:rotate(10deg);}
.site-u {position:absolute;top:50px;right:30px;width:200px;}
.ttl-u {font-size:20px;position:relative;height:26px;}
.ttl-u .ttl-d {background-position:center 0;}
#log-f {padding:7px 0 0 30px;position:relative;height:108px;}
#log-f .loginDiv span,#log-f .passwordDiv span,#log-f .rememberDiv,#log-f .logLnkSep {display:none;}
#log-f .loginDiv,#log-f .passwordDiv {width:141px;height:23px;padding:0 6px;overflow:hidden;margin:0 0 7px 0;}
#log-f .passwordDiv {background-position:0 -23px;}
#log-f .loginDiv input,#log-f .passwordDiv input {font-size:14px;font-weight:bold;width:141px;height:23px;line-height:23px;padding:0;margin:0;background:none;border:none;}
#log-f .buttonDiv {position:absolute;right:-29px;bottom:-2px;background:url(../img/log-b.png);width:31px;height:32px;padding:34px 0 0 43px; text-align:left;}
#log-f .buttonDiv input,#log-f .buttonDiv a {background-color:transparent;background-position:-133px -46px;border:none;margin:0;padding:0;height:22px;width:20px; float:left;overflow:hidden;text-indent:100%;white-space:nowrap;cursor:pointer;}
#log-f .buttonDiv a {display:block;background-position:-113px -46px;}
#log-f .loginLinks {font-size:11px;font-weight:bold;position:relative;z-index:50;padding:0 0 0 46px;text-align:left;}
#log-f .loginLinks a {display:block;margin:0 0 5px 0;text-decoration:none;color:#444;background:url(../img/log-i.png) 0 0 no-repeat;padding:0 0 0 16px;opacity:.7;-moz-opacity:.7;filter:alpha(opacity=70);}
#log-f .loginLinks a.logLnkRem {background-position:0 -40px;padding:0 0 0 12px;margin:0 0 5px 12px;}
#log-f .usr-ava {float:left;width:46px;height:46px;padding:3px;margin:10px 0 0 0;overflow:hidden;background:url(../img/ava.png);}
#log-f .usr-ava img {width:46px;height:46px;}
#log-f .usr-info {float:right;width:106px;}
#log-f .usr-info div {font-weight:bold;font-size:14px;margin:0 0 6px 0;padding:0 0 6px 0;border-bottom:1px dotted #888;}
#log-f .usr-info a {display:block;margin:0 0 5px 0;text-decoration:none;color:#444;font-size:11px;font-weight:bold;opacity:.7;-moz-opacity:.7;filter:alpha(opacity=70);}
#log-f .loginLinks a:hover,#log-f .usr-info a:hover {opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
#log-f .buttonDiv input:hover,#log-f .buttonDiv a:hover,#search .schBtn input:hover,#log-f .ulogin-btn a:hover,.ld-but:hover,.rld-but:hover {opacity:.8;-moz-opacity:.8;filter:alpha(opacity=80);}
#log-f .ulogin-btn a,.ld-but,.rld-but {opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
#log-f .ulogin-btn a,#log-f .ulogin-btn a span,.ld-but span,.rld-but span {display:block;line-height:40px!important;height:40px!important;font-size:14px!important;color:#333!important;}
#log-f .ulogin-btn span.ulb-left,.ld-but span,.rld-but span {background:url(../img/uid.png) no-repeat!important;padding:0 0 0 44px!important;}
.ld-but span, .rld-but span {background-position:0 -120px!important;}
#log-f .ulogin-btn span.ulb-mid,.ld-but span span span,.rld-but span span span {background:url(../img/uid.png) 0 -40px no-repeat!important;padding:0 0 0 4px!important;
}
#log-f .ulogin-btn span.ulb-right,.ld-but span span,.rld-but span span {background:url(../img/uid.png) right -80px no-repeat!important;padding:0 10px 0 0!important;}
.ttl-u,.usr-ava {-moz-transform: rotate(-3deg);-ms-transform: rotate(-3deg);-webkit-transform: rotate(-3deg);-o-transform: rotate(-3deg);transform:rotate(-3deg);}
#nav-box {height:53px;background:url(../img/nav-b.png);}
#catmenu {float:left;width:760px;}
#catmenu ul {list-style:none;margin:0;padding:0;z-index:100;}
#catmenu ul li {float:left;height:51px;padding:0;}
#catmenu ul li a {z-index:10;display:block;color:#555;height:51px;line-height:51px;padding:0 10px;font-size:16px;text-decoration:none;white-space:nowrap;_width:10px;}
#catmenu ul li a.current-item,#catmenu ul li a.uMenuItemA {color:#fff;text-decoration:none;}
#catmenu ul li a:hover,#catmenu ul li.item-hover a {background:url(../img/nav.png) center bottom repeat-x;color:#fff;}
#catmenu ul ul {margin:0;background:url(../img/bot.png) -10px bottom;padding:5px 10px 10px 10px;}
#catmenu ul ul ul {margin:0 0 0 188px;}
#catmenu ul ul li {text-transform:none;background:none;padding:0;height:auto;}
#catmenu ul li ul ul {margin:0 0 0 188px;}
#catmenu ul li li a {background:none!important;color:#666!important;font-weight:bold;line-height:normal;height:auto;font-size:11px;white-space:normal;text-transform:none;padding:8px 0;height:auto;border-top:1px dotted #333;font-family:Tahoma, Geneva, sans-serif;_width:auto;}
#catmenu ul li li:first-child a {border-top:none;}
#catmenu ul li li a:hover,#catmenu ul li.item-hover li a,#catmenu ul li li a.current-item {background:none;text-shadow:none;}
#catmenu ul li li a:hover {color:#fff!important;text-decoration:none;}
#search {float:right;width:192px;padding:11px 18px 0 0;}
#search .search-box {width:182px;height:27px;padding:0 5px;}
#search .schQuery input {background:none;border:none;width:148px;padding:0 5px;font-weight:bold;height:27px;line-height:27px;font-size:12px;float:left;color:#555;}
#search .schBtn {float:right;height:18px;width:18px;padding:3px 3px 0 0;}
#search .schBtn input {float:right;border:none;padding:0;text-align:left;height:18px;width:18px;overflow:hidden;text-indent:-10000px;cursor:pointer;}
#casing {background:url(../img/cas.png);}
#content {float:left;width:710px;padding:20px 0 20px 20px;}
#content .calTable td {padding:12px;}
#content fieldset {border:1px solid #c6c6c6;margin:0 0 10px 0;}
#casing label {color:#666!important;}
.eBlock {padding:0 0 40px 0;}
.eTitle {padding:0 0 10px 0;font-size:24px;}
.eTitle a {text-decoration:none;}
.eDetails,.eDetails1, eDetails2{font-size:11px;padding:15px 0 0 0;color:#999;background:url(../img/sep-g.png) center 0 repeat-x;}
.eDetails a,.eDetails1 a,.eDetails2 a {text-decoration:underline;color:#999;}
.eDetails a:hover,.eDetails1 a:hover,.eDetails2 a:hover {text-decoration:none;}
.eMessage,.eText {margin:0;padding:10px 0!important;}
.eMessage p,.eText p{margin:0;padding:0 0 5px 0;}
.pagesBlockuz1 b,.pagesBlockuz2 b,#pagesBlock1 b,#pagesBlock2 b,strong.pages,.swchItemA1, .butEdit {padding:4px 8px;font-weight:bold;color:#fff;background:url(../img/nav.png) -60px -4px;font-size:11px;}
.pagesBlockuz1 a,.pagesBlockuz2 a,#pagesBlock1 a,#pagesBlock2 a,.swchItem,.swchItem1 {padding:4px 0;font-size:11px;font-weight:bold;color:#666!important;text-decoration:none;}

.pagesBlockuz1 a:hover,.pagesBlockuz2 a:hover,#pagesBlock1 a:hover,#pagesBlock2 a:hover,.swchItem:hover,.swchItem1:hover {text-decoration:underline;}
.cBlock1,.cBlock2 {background:#fff;border-bottom:1px solid #c6c6c6;}
#content .cBlock1,#content .cBlock2{padding:10px;background:url(../img/sep-d.png) 0 0 repeat-x;border:none;margin:10px 0 0 0;color:#777;}
.commTable {padding:10px;background:url(../img/sep-d.png) 0 0 repeat-x;}
.cMessage {font-size:11px;}
.cMessage img {margin:0 5px;}
.cTop {font-size:14px;padding:0 0 7px 0;margin:0 0 5px 0;background:url(../img/sep-g.png) 0 bottom repeat-x;}
.cTop * {font-weight:normal;}
.cAnswer {padding:5px 0 0 15px;font-style:italic;color:#666;font-size:11px;}
.commTd1 {padding:5px 2px;width:140px;}
input.commFl {width:400px;}
textarea.commFl {width:560px;}
input.codeButtons {min-width:30px;}
.securityCode {}
.editRU {display:block;float:right; color:#682525; padding:6px; width:230px;font:11px Tahoma;background: url("../img/text.png") transparent;} 
.editedTime {padding:2px;} 
.eAttach {background: url("../img/text.png") transparent; font:11px Tahoma;color:#999;padding:6px;padding-left:23px;width:40%;}
.eRating {font-size:8pt;}
.manTdError,.commError {color:#ff0000;}
.commReg {padding: 10px 0;text-align:center;}
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
.replaceTable {color:#555;background:#e1e1e1;padding:18px;border:1px solid #ddd;font-size:12px;}
.legendTd {font-size:8pt;}
.outputPM {border:1px dashed #3a2b24;margin:4px 0 4px 30px;}
.inputPM {border:1px dashed #3a2b24;margin:4px 0;}
.uTable {padding:0;background:none;}
.uTable td {padding:3px 10px 5px 10px;background:url(../img/sep-d.png) 0 bottom repeat-x;}
.uTable td.uTopTd {background:url(../img/inp.png);}
.eAttach .entryAttachSize {padding-left:4px;}
.manTable {text-align:left;}
.manTable .manTd1 {font-size:12px;line-height:14px;width:200px;}
#casing.popuptable {margin:10px auto;color:#555;background:#fff;padding:15px;}
#id_senduwin {margin:10px auto;color:#555;background:#fff;padding:15px;}
#id_senduwin  > div {padding:10px 0 0 0;font-size:12px;color:#555;}
.error_theme {background:#FEC8C8;text-align:center;padding:5px;font-size:11px;font-weight:bold;}
.popuptitle {font-size:20px;background:url(../img/sep-d.png) 0 bottom repeat-x;padding:0 0 12px 0;text-align:center;}
.popupbody {padding:10px 0 0 0;font-size:12px;color:#555;}
.popupbody * {font-size:12px!important;}
.popuptable table {text-align:left;color:#555;}
.archiveEntryTitle ul {margin:2px 0;list-style:circle;}
.archiveEntryTitle .archiveEntryTime {display:inline-block;padding:3px 5px;font-size:11px;background:url(../img/des.png);color:#fff;}
.archiveEntryTitle .archiveEntryTitleLink {color:#555;font-size:14px;text-decoration:none;}
.archiveEntryTitle .archiveEntryTitleLink:hover {text-decoration:underline;}
.archiveEntryTitle .archiveEntryComms {font-size:11px;color:#999;}
#sidebar {float:right;width:250px;}
.sidebox {padding:0 5px 0 0;background:url(../img/sep-w.png) -450px bottom repeat-x;}
.sidetitle {background:url(../img/sep-w.png) -255px bottom repeat-x;padding:10px 15px 10px 20px;font-size:20px;color:#555;position:relative;}
.sidetitle .ttl-d {background-position:center -14px;}
.sidebox .inner {padding:20px 15px 20px 20px;}
.sidebox ul,.sidebox .catsTable {margin:0;list-style:none;padding:0;border-spacing:0;}
.sidebox ul li,.sidebox .catsTd {padding:7px 0 9px 0;background:url(../img/sep-d.png) center bottom repeat-x;}
.sidebox li a,.sidebox .catsTable td a {background:url(../img/arrs.png) 0 center no-repeat;padding:0 0 0 20px;color:#555;font-weight:bold;text-decoration:none;opacity:.7;-moz-opacity:.7;filter:alpha(opacity=70);}
.sidebox li a:hover,.sidebox .catsTable td a:hover,.sidebox li a.current-item,.sidebox .catsTable td a.catNameActive {opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
.sidebox .catNumData {color:#999;font-size:9px;}
.sidebox .calTable{width:100%;}
.calTable td {text-align:center;padding:5px 2px;}
.calTable td a {text-decoration:none;}
.calTable td a:hover {text-decoration:underline;}
.calMonth {font-size:12px;}
.calTable td.calMonth a,.calTable .calMdayIs {text-decoration:none;font-weight:bold;}
.calTable td.calMonth a:hover {text-decoration:underline;}
.calTable .calWday,.calTable .calWdaySe,.calTable .calWdaySu {font-size:14px;}
.calTable .calMday {color:#aaa;}
.calTable .calMdayA,.calTable .calMdayIsA {color:#fff;font-weight:bold;background-position:-10px -2px!important;}
.calTable .calMdayIsA a {color:#fff;}
.sidebox ul li li {border:none;}
.sidebox ul li li:first-child {border:none;}
.sidebox ul ul {padding:2px 0 0 0;background:#f2f2f2 url(../img/sep-d.png) center 0 repeat-x;}
.sidebox ul li ul ul {margin:0 0 0 -180px;}
.sidebox ul li li a {background:none;border:none;font-size:11px;padding:8px 10px;}
.sidebox ul li li a:hover,.sidebox ul li.item-hover li a,.sidebox ul li li a.current-item {background:none;}
.sidebox ul li li a:hover {background:none;}
.sidebox ul.ut-menu .item-arrow {display:none;}
.sidebox iframe {border:1px solid #ddd;}
.sidebox .answer {padding:5px 0 0 0;}
.sidebox input.mchat {max-width:97%;}
.sidebox textarea.mchat {max-width:92%;}
.sidebox .loginField {max-width:97%;}
#bottom {background:url(../img/bots.png) no-repeat;padding:10px 0 0 0;height:100%;}
#bot-i {background:url(../img/bot.png) 0 bottom;height:100%;}
#bottom .sidebox {float:left;width:220px;padding:0 15px 10px 15px;background:none;}
#bottom .sidetitle {padding:10px 0;color:#999;}
#bottom .sidetitle .ttl-d {background:url(../img/dirt-b.png) 0 0;}
#bottom .sidebox .inner {padding:20px 0;}
#bottom .sidebox a {color:#888;}
#bottom .sidetitle,#bottom .sidebox li,#bottom .sidebox .catsTd {background-image:url(../img/sep-b.png);}
#bottom .sidebox li a,#bottom .sidebox .catsTable td a {color:#888;}
#bottom .sidebox ul ul {background:#222 url(../img/sep-b.png) center 0 repeat-x;margin:0 0 0 220px;}
#bottom .sidebox ul li ul ul {margin:0 0 0 180px;}
#bottom .sidebox iframe {border:1px solid #0c0c0c;}
#bottom hr {background:url(../img/sep-b.png);}
#bottom .uz-sortable {width:220px!important;}
#bottom .uz-sortable .sidebox {float:none;}
.ui-sortable {z-index:9999!important;}
.uz-sort .ttl-d {display:none;}
#footer {padding:20px;text-align:center;font-size:11px;opacity:.5;-moz-opacity:.5;filter:alpha(opacity=50);}
#footer,#footer a {color:#ddd;}
#casing input[type='text'],#casing input[type='password'],#casing textarea,#casing input[type='file'],#bottom input[type='text'],#bottom input[type='password'],#bottom textarea,#bottom input[type='file'],#bottom select,#casing select{font-size:11px;color:#555;font-weight:bold;padding:5px 3px;background:url(../img/inp.png);border:none;outline:none;}
#casing textarea {background-image:url(../img/text.png);}
#bottom textarea {background-image:url(../img/text-b.png);}
#bottom input[type='text'],#bottom input[type='password'] {background-image:url(../img/inp-b.png);}
#casing select,#casing input[type='file'] {background:#e1e1e1;margin:0 0 5px 0;}
#bottom select,#bottom input[type='file'] {background:#0c0c0c;margin:0 0 5px 0;}
#casing input[type='submit'],#casing input[type='reset'],#casing input[type='button'],#casing button,#bottom input[type='submit'],#bottom input[type='reset'],#bottom input[type='button'],#bottom button,.ph-but,.post-mr a {font-size:12px!important;border:none;color:#fff;padding:5px 10px;font-weight:bold!important;cursor:pointer;background-position:0 -3px!important;}
#casing input[type='submit']:hover,#casing input[type='reset']:hover,#casing input[type='button']:hover,#casing button:hover,#bottom input[type='submit']:hover,#bottom input[type='reset']:hover,#bottom input[type='button']:hover,#bottom button:hover,.ph-but:hover,.post-mr a:hover {color:#fff;background:url(../img/nav.png) 0 -3px!important;}
#doSmbBt,.u-combobut {display:none;}
#casing .u-comboeditcell,#casing .u-combo {border:0!important;background:none!important;}
#casing .u-combolist {padding:5px 3px;background:#e1e1e1;border:1px solid #ccc;font-size:12px!important;color:#555!important;}
#content .xw-tl,#content .xw-bl,#content .u-menuvsep {display:none;}
#content .xw-ml,#content .xw-mr {margin:0;padding:0;background:none;}
#content .xw-mc {background:#e1e1e1;border:1px solid #ccc;margin:0;font-size:12px!important;color:#555!important;}
#uNetRegF table {text-align:left;}
#uNetRegF table table {clear:both;}

#uNetRegF table table td {padding:5px 0 0 0;}
.sidebox .gTable {background:none;}
.sidebox .gTableTop,.sidebox .gTableSubTop,.sidebox .forumNameTd {border:none;background:url(../img/sep-d.png) center bottom repeat-x!important;padding:7px 0!important;color:#555;border:none!important;text-shadow:none!important;font-weight:bold;text-transform:none;height:auto;line-height:normal;overflow:visible;font-size:13px!important;opacity:.7;-moz-opacity:.7;filter:alpha(opacity=70);}
#bottom .sidebox .gTableTop,#bottom .sidebox .gTableSubTop,#bottom .sidebox .forumNameTd {color:#999;}
.sidebox .gTable ul {padding:0 0 0 20px;}
#bottom .sidebox .gTableTop {background-image:url(../img/sep-b.png)!important;color:#999;}
#bottom .sidebox .gTableSubTop,#bottom .sidebox .forumNameTd {background-image:url(../img/sep-b.png)!important;color:#999;}
#overlay.forum-cas #casing {background-image:url(../img/cas-f.png);padding:20px;}
#overlay.forum-cas #bottom {background-image:url(../img/bots-f.png);}
.gTable {background:none;}
.gTableTop {color:#fff;background:url(../img/nav.png) 0 -3px;padding:10px;font-size:16px;position: relative;}
.gTableTop a {color:#fff!important}
.gTableSubTop {color:#555;padding:3px 5px;font-size:12px;font-weight:bold;background:url(../img/inp.png);}
.gTableSubTop a,.gTableSubTop a:hover {color:#555!important}
.gTableSubTop b {font-weight:normal;}
.get_stat {margin-top:15px;}
.gTableBody,.gTableBody1,.gTableBottom,.gTableError,.forumNameTd,.forumLastPostTd,.threadNametd,.threadAuthTd,.threadLastPostTd,.threadsType,.postPoll,.newThreadBlock,.newPollBlock,.newThreadBlock,.newPollBlock,.gTableRight,.posttdMessage,.postTdInfo,.codeMessage,.quoteMessage,.forumIcoTd,.forumThreadTd,.forumPostTd,.gTableLeft,.threadIcoTd,.threadPostTd,.threadViewTd,.postBottom,.postTdTop {padding:7px 7px 9px 7px;background:url(../img/sep-d.png) center bottom repeat-x;}
.forumNameTd,.forumThreadTd,.forumPostTd,.threadNametd,.threadPostTd,.threadViewTd,.threadAuthTd,.postTdInfo {background:url(../img/sep-f.png) right bottom;padding:7px 9px 9px 7px;}
.postBottom,.postTdTop {padding:3px 7px 7px 7px;}
a.forum,a.threadLink {padding:0 0 0 10px;background:url(../img/12.gif) 0 center no-repeat;font-size:14px;}
a.forumLastPostLink {color:#666!important;}
.gTableLeft {font-weight:bold}
.gTableError {color:#FF0000}
.forumLastPostTd,.forumArchive {font-size:8pt}
a.catLink {text-decoration:none}
a.catLink:hover {text-decoration:underline}
.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:8pt;color:#FF0000!important;font-weight:bold}
.forumDescr {color:#888;font-size:8pt}
div.forumModer {color:#666;font-size:8pt}
a.forumModer {color:#555!important;text-decoration:underline}
.forumViewed {font-size:9px}
.forumBarKw {font-weight:normal}
a.forumBarA {text-decoration:none;color:#777!important}
a.forumBarA:hover {text-decoration:none}
.fastLoginForm {font-size:8pt}
.switch,.pagesInfo {padding:2px 5px;font-weight:bold;font-size:11px;color:#555;background:url(../img/inp.png);}
.ctive {padding:2px 6px;font-weight:bold;color:#fff;background-position:-9px -3px!important;}
a.switchDigit,a.switchBack,a.switchNext {text-decoration:none;color:#555!important;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline}
.threadLastPostTd {font-size:8pt}
.threadDescr {color:#888;font-size:8pt}
.threadNoticeLink {font-weight:bold}
.threadsType {height:20px;font-weight:bold;font-size:8pt}
.threadsDetails {height:20px}
.forumOnlineBar {height:20px}
a.threadPinnedLink {font-weight:bold;color:#f63333!important}
a.threadFrmLink {color:#555!important}
.postpSwithces {font-size:8pt}
.thDescr {font-weight:normal}
.threadFrmBlock {font-size:8pt;text-align:right}
.forumNamesBar {font-size:11px;padding:3px 0}
.forumModerBlock {padding:3px 0}
.postPoll {text-align:center}
.postUser {font-weight:bold}
.postRankName {margin-top:5px}
.postRankIco {margin-bottom:5px;margin-bottom:5px}
.reputation {margin-top:5px}
.signatureHr {margin-top:20px}
.postTdInfo {padding:10px;text-align:center}
.posttdMessage {line-height:18px;padding:10px}
.pollQuestion {text-align:center;font-weight:bold} 
.pollButtons,.pollTotal {text-align:center}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:8pt}
.pollSubmit {font-weight:bold}
.pollEnd {text-align:center;height:30px}
.codeMessage,.quoteMessage {font-size:11px;padding:10px;background:url(../img/text.png);border:none!important;color:#555;}
.signatureView {display:block;font-size:8pt;line-height:14px;padding:0 0 0 10px;border-left:3px solid #ddd} 
.edited {padding-top:30px;font-size:8pt;text-align:right;color:gray}
.editedBy {font-weight:bold;font-size:8pt}
.statusBlock {padding-top:3px}
.statusOnline {color:#0f0}
.statusOffline {color:#f00}
.newThreadItem {padding:0 0 8px;background:url(../img/12.gif) no-repeat 0 4px}
.newPollItem {padding:0 0 8px;background:url(../img/12.gif) no-repeat 0 4px}
.pollHelp {font-weight:normal;font-size:8pt;padding-top:3px}
.smilesPart {padding-top:5px;text-align:center}
.userAvatar {background:url(../img/ava-f.png);width:96px;height:96px;padding:4px;}
.pollButtons button {margin:0 10px 0 0!important}
.postBottom .goOnTop {display:none!important}
.postIpLink {text-decoration:none;}
.post-b {margin:0 0 50px 0;}
.post-t {font-size:18px;padding:0 0 10px 0;line-height:20px;}
.post-t a {text-decoration:none;}
.post-t a:hover {color:#555;}
.post-i,.rel-img,#full-ph {float:left;width:242px;height:172px;background:url(../img/thmb.png) 0 -400px;padding:4px;}
.post-i div,.rel-img div,#full-ph div {position:relative;width:242px;height:172px;overflow:hidden;background:url(../img/noimg.png) center center no-repeat;}
.post-i img,#full-ph img {width:298px;min-height:190px;position:relative;margin:-10px 0 0 -30px;}
.post-i a,.rel-img a,.ph-lnk,#full-ph a {position:absolute;display:block;width:100%;height:100%;left:0;top:0;background:url(../img/thmb-m.png);opacity:0;-moz-opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .2s ease-in-out;-moz-transition:opacity .2s ease-in-out;-ms-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;}
.post-i a:hover,.rel-img a:hover,.ph-lnk:hover,#full-ph a:hover {opacity:.9;-moz-opacity:.9;filter:alpha(opacity=90);}
.post-i a span,.rel-img a span,.ph-lnk span,#full-ph a span {display:block;width:100%;height:100%;cursor:pointer;background:url(../img/thmb-v.png) center center no-repeat;}
.post-d,.post-m {float:right;width:440px;}
.post-d {max-height:148px;overflow:hidden;margin:0 0 9px 0;}
.post-f {line-height:16px;}
.post-f * {padding:0;margin:0;}
.post-f br,.post-f img {display:none;}
.post-m {padding:2px 0 0 0;font-size:11px;color:#bbb;background:url(../img/sep-g.png) center 0 repeat-x;}
.post-m a {color:#bbb;}
.post-r {float:right;padding:8px 0 0 0;}
.post-l {float:left;padding:9px 0 0 0;}
.post-l span {display:inline-block;height:14px;line-height:14px;font-weight:bold;background:url(../img/icn.png) 0 0 no-repeat;padding:0 5px 0 22px;}
.post-l span.m-cat {background-position:0 -500px;padding-left:20px;}
.post-l span.m-read {background-position:0 -199px;}
.post-l span.m-name {background-position:0 -100px;padding-left:18px;}
.post-l span.m-date {background-position:0 -300px;padding-left:18px;}
.post-l span.m-load {background-position:0 -400px;padding-left:21px;}

.post-fw {width:auto;float:none;}
#slider-b {width:702px;height:392px;padding:4px;background:url(../img/thmb.png);margin:0 0 30px 0;position:relative;}
#slider-b.no-mar {margin:0 0 20px 0;}
.flexslider {position:relative;width:702px;max-width:702px;height:392px;margin:0;padding:0;zoom:1;}
.flexslider .slides {zoom:1;margin:0;padding:0;}
.flexslider .slides > li {display:none;position:relative;overflow:hidden;list-style-type:none;background:none;-webkit-backface-visibility:hidden;margin:0;padding:0;height:392px;}
.slides:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides {display:block;}
* html .slides {height:1%;}
.no-js .slides > li:first-child {display:block;}
.flexslider .slides img {max-width:710px;min-height:400px;position:relative;top:0;left:-5px;}
.caption {width:662px;background:url(../img/cap.png);text-shadow:1px 1px 0 rgba(0,0,0,.2);color:#fff;position:absolute;z-index:10;left:0;bottom:0;padding:20px;}
.slide-ttl {line-height:20px;font-size:18px;margin-bottom:15px;color:#fff;}
.slide-ttl a {text-decoration:none;}
.slide-txt {font-size:11px;line-height:145%;max-height:64px;overflow:hidden;}
.slide-txt * {padding:0;margin:0;}
.slide-txt img,.slide-txt br {display:none;}
.flex-direction-nav, .flex-direction-nav li {padding:0;margin:0;list-style:none;}
.flex-direction-nav a {position:absolute;top:160px;display:block;width:40px;height:40px;background-position:0 0;white-space:nowrap;text-indent:100%;overflow:hidden;opacity:0;-moz-opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .2s ease-in-out;-moz-transition:opacity .2s ease-in-out;-ms-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out;}
.flex-direction-nav a.flex-prev {left:0;}
.flex-direction-nav a.flex-next {right:0;background-position:-40px 0;}
.fnav-hov a.flex-prev {opacity:.7;-moz-opacity:.7;filter:alpha(opacity=70);}
.fnav-hov a.flex-next {opacity:.7;-moz-opacity:.7;filter:alpha(opacity=70);}
.flex-direction-nav a:hover {opacity:1;-moz-opacity:1;filter:alpha(opacity=100);background-position:0 -40px;}
.flex-direction-nav a.flex-next:hover {background-position:-40px -40px;}
#slider-b div.single-img {position:relative;overflow:hidden;list-style-type:none;background:none;-webkit-backface-visibility:hidden;margin:0;padding:0;height:392px;}
#slider-b div.single-img img {max-width:710px;min-height:400px;position:relative;top:0;left:-5px;display:block;}
#carousel {position:absolute;left:4px;bottom:4px;width:692px;padding:7px 5px 5px 5px;background:url(../img/cap.png);height:100px;}
#carousel li {margin-right:5px;height:100px;overflow:hidden;}
#carousel img {display:block;opacity:.4;-moz-opacity:.4;filter:alpha(opacity=40);width:100%;min-height:100px;cursor:pointer;left:0;}
#carousel img:hover {opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
#carousel .flex-active-slide img {opacity:1;-moz-opacity:1;filter:alpha(opacity=100);cursor:default;}
#carousel .flex-direction-nav li {margin:0;height:auto;}
#carousel .flex-direction-nav a {top:37px;}
#carousel .fnav-hov .flex-disabled {opacity:0;-moz-opacity:0;filter:alpha(opacity=0);}
.fpost-mss {line-height:140%;padding:20px 0;}
#post-rel {margin:10px 0 50px 0;}
#post-rel ul,#post-rel li {padding:0;margin:0;list-style:none;}
#post-rel li {float:left;width:220px;padding:0 0 0 25px;}
#post-rel li:first-child {padding:0;}
#post-rel li a {font-size:16px;text-decoration:none;}
#post-rel li a:hover {color:#555;}
.rel-img {margin:0 0 10px 0;height:132px;float:none;width:212px;background-position:-250px -400px;}
.rel-img div {width:212px;height:132px;}
.rel-img img {width:100%;min-height:140px;}
.fpost-t {padding:0 0 10px 0;font-size:11px;color:#999;}
.fpost-t strong {padding:0 5px 0 0;font-size:14px;}
.fpost-t a {color:#999;display:inline-block;font-weight:bold;height:14px;line-height:14px;background:url(../img/icn.png) 0 -700px no-repeat;padding:0 0 0 18px;}
.fpost-sh {padding:2px 0 20px 0;}
.fpost-sh ul,.fpost-sh li {padding:0;margin:0;list-style:none;}
.fpost-sh li {float:left;overflow:hidden;padding:0 10px 0 0;}
.fpost-sh li.sh-tw {width:98px;}
.fpost-sh li.sh-ggl {width:66px;}
.fpost-sh li.sh-oth {float:right;padding:2px 0 0 0;}
.no-comm {text-align:center;color:#999;padding:15px 0 20px 0;}
.comm-lst {padding:20px 0 10px 70px;}
.comm-i {padding:0 0 20px 0;}
.comm-t {background:url(../img/sep-d.png) center 0 repeat-x;}
.comm-l {background:url(../img/sep-dv.png) 0 center repeat-y;}
.comm-r {background:url(../img/sep-dv.png) right 0 repeat-y;}
.comm-b {background:url(../img/sep-d.png) 0 bottom repeat-x;position:relative;padding:10px 15px 20px 15px;}
.comm-ava {position:absolute;top:10px;left:-30px;width:46px;height:46px;padding:3px;background:#fff url(../img/ava-c.png);-moz-transform:rotate(-5deg);-ms-transform: rotate(-5deg);-webkit-transform: rotate(-5deg);-o-transform: rotate(-5deg);transform:rotate(-5deg);}
.comm-even .comm-ava {-moz-transform:rotate(2deg);-ms-transform: rotate(2deg);-webkit-transform: rotate(2deg);-o-transform: rotate(2deg);transform:rotate(2deg);}
.comm-ava img {width:46px;height:46px;}
.comm-top {margin:0 0 15px 20px;padding:0 0 12px 0;background:url(../img/sep-d.png) 0 bottom repeat-x;}
.comm-dt {margin:3px 0 0 0;color:#999;font-size:11px;}
.comm-ans {padding:10px 0 0 40px;color:#888;}
.ans-url {position:absolute;display:block;font-size:11px;bottom:0;right:0;padding:4px 10px;font-weight:bold;text-decoration:none;color:#888;background:url(../img/inp.png);}
.ans-url:hover {color:#555;}
.comm-show {padding:10px 0 0 0;font-size:11px;}
.comm-pg {padding:10px 0 0 0;text-align:right;}
.comm-pgc {padding:0 0 20px 0;text-align:center;}
.comf {padding:20px 0 0 70px;}
.comf p {margin:0 0 7px 0;}
#casing .comf label {display:block;color:#999!important;font-weight:bold;}
.comf .commFl {padding:9px 10px!important;}
.comf .commSbmFl {padding:10px 15px!important;text-transform:uppercase;}
.comf-t {float:left;width:711px;}
.wysibb-texarea {min-height:120px;}
.comf-t .commFl {width:500px;}
.comf-s {float:right;}
.comf-s img {height:24px;}
#showAddonsFields,#hideAddonsFields {margin:5px 0;}
.sect-ttl {font-size:20px;padding:0 0 30px 0;}
.sect-ttl.no-mar {padding:0 0 20px 0;}
.ph-b {margin:0 0 20px 0;padding:0 0 0 10px;}
.ph-i {width:212px;margin:0 1px 1px 0;height:132px;background:url(../img/thmb.png) -250px -400px;padding:4px;}
.ph-img {overflow:hidden;position:relative;width:212px;height:132px;background:url(../img/noimg.png) center center no-repeat;}
.ph-t {width:257px;min-height:170px;position:relative;margin:-10px 0 0 -30px;}
.ph-m {position:absolute;top:5px;right:5px;z-index:99;}
.ph-ttl {font-size:16px;padding:5px 20px 10px 0;}
.ph-ttl a {text-decoration:none;}
.ph-ttl a:hover {color:#555;}
.ph-b .post-m,.ph-b .post-l {float:none;background:none;padding:0;width:227px;}
.ph-b .post-l {padding:5px 0 0 0;}
#ph-w.photo-mod table {width:710px !important;}
#ph-w.photo-mod table td {width:235px!important;}
#ph-w.photo-mod table,#ph-w.photo-mod table td {border-spacing:0!important;padding:0!important;margin:0!important;vertical-align:top;text-align:left;}
#full-dsc {float:right;width:430px;}
#ph-ul,#ph-ul li {margin:0;list-style:none;}
#ph-ul {background:url(../img/sep-d.png) 0 bottom repeat-x;padding:0 0 2px 0;}
#ph-ul li {background:url(../img/sep-d.png) center 0 repeat-x;padding:8px 0 6px 0;font-size:14px;color:#777;}
#ph-ul li .dsc-t,.full-rt .dsc-t {font-weight:bold;}
.ph-but {font-size:13px!important;float:right;padding:5px 10px;text-decoration:none;position:relative;margin:-4px 0 0 0;}
.full-rt {padding:10px 0 12px 0;background:url(../img/sep-d.png) center bottom repeat-x;font-size:14px;color:#777;}
.full-rt .rt-l {float:left;}
.full-rt .rt-r {float:right;}
#ph-txt {background:url(../img/sep-d.png) 0 0 repeat-x;margin:20px 0 0 0;padding:20px 0 0 0;}
.ph-hr {margin:20px 0;clear:both;}
#ph-near {padding:0 0 22px 0;margin:0 0 20px 0;background:url(../img/sep-d.png) 0 bottom repeat-x;text-align:center;}
#ph-near table {width:100%;}
.load-lst {float:left;padding:4px 0;margin:0 20px 20px 0;width:300px;list-style:none;background:url(../img/text.png);font-size:10px;color:#888;}
.load-lst li {padding:6px 15px 4px 15px;background:url(../img/sep-w.png) 0 0 repeat-x;}
.load-lst li:first-child {background:none;padding:4px 15px;}
.ld-but,.rld-but {display:inline-block;text-decoration:none;}
.post-mr {float:right;padding:5px 0 0 0;}
.post-mr a {display:inline-block;color:#fff;font-size:10px!important;text-decoration:none;padding:3px 7px;}
.rec-news .post-b {margin:0;}
.rec-news .post-sml {margin:0 0 9px 0;}
.post-sml {float:left;width:223px;padding:0 20px 0 0;}
.post-rsml {padding:0 0 0 20px;}
.post-first,.post-last {padding:0;}
.post-news:nth-child(3),.post-news:nth-child(6) {padding:0;}
.post-sml .post-t {font-size:14px;line-height:16px;padding:0;max-height:50px;overflow:hidden;}
.post-sml .post-t a {color:#555;}
.post-sml .post-i {background:url(../img/thmb.png) -540px -530px;width:64px;height:44px;padding:3px;}
.post-sml .post-i div {position:relative;width:64px;height:44px;}
.post-sml .post-i img {width:64px;min-height:44px;margin:0;}
.post-sml .post-d {width:145px;max-height:50px;margin:0;padding:0;}
.rec-news .ph-b {float:left;width:223px;padding:0 0 0 10px;}
.rec-news .ph-first {padding:0;}
.rec-news .ph-b .post-d {float:none;width:auto;padding:8px 0 0 0;}
.rec-news .ph-b .post-mr {float:none;text-align:right;}
.rec-news .ph-ttl {height:38px;overflow:hidden;}
.post-inf {padding:0 0 9px 0;margin:0 0 7px 0;background:url(../img/sep-d.png) center bottom repeat-x;float:none;width:210px;}
.post-inf .post-i {background:url(../img/thmb.png) -540px -530px;width:64px;height:44px;padding:3px;}
.post-inf .post-i div {width:64px;height:44px;}
.post-inf .post-i img {width:64px;min-height:44px;margin:0;}
.post-inf .post-d {width:125px;max-height:50px;}
.post-inf .post-t {font-size:12px;max-height:50px;line-height:16px;font-weight:bold;}
.com-i {padding:0 0 10px 0;margin:0 0 7px 0;background:url(../img/sep-d.png) center bottom repeat-x;}
.com-ii {max-height:106px;overflow:hidden;}
.com-im {float:left;width:46px;height:46px;padding:3px;background:url(../img/ava-d.png);margin:4px 10px 3px 0;}
.com-im img {width:46px;height:46px;}
.com-au {font-weight:bold;padding:0 0 2px 0;color:#666;}
.com-au a {text-decoration:none;}
.com-au a:hover {text-decoration:underline;}
.au-lnk {color:#666;}
.com-dt {font-size:10px;line-height:12px;color:#999;}
.com-txt {font-size:11px;line-height:13px;padding:6px 0 0 0;}
.sidebox .eTag {font-size:11px!important;margin:0 0 2px 0;text-decoration:none;text-transform:lowercase;font-weight:bold;display:inline-block;height:20px;line-height:20px;padding:0 5px 0 15px;color:#eee;background:#bbb url(../img/tag.png) 0 0 no-repeat;letter-spacing:-1px;}
#bottom .sidebox .eTag {background:#444 url(../img/tag-b.png) 0 0 no-repeat;color:#222;}
#leftSwch,#rightSwch {background:url(../img/arr.png) 0 0 !important;display:block;height:32px!important;width:22px!important;opacity:.5;-moz-opacity:.5;filter:alpha(opacity=50);}
#rightSwch {background-position: 0 -32px !important;}
#leftSwch:hover,#rightSwch:hover {opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
#fancybox-overlay {background:#000!important;opacity:.7!important;-moz-opacity:.7!important;filter:alpha(opacity=70)!important;}
.eTitle div,.sidebox .gTableTop {font-family:Tahoma, Geneva, sans-serif;}
.post-inf .post-t {font-family:Tahoma, Geneva, sans-serif!important;}
#moder_panle {position:absolute;right:5px;top:0px;}
#theme_modbar {text-transform: none;position: relative;width: 100px;text-align: right;float:right;cursor: pointer;}
#theme_modbar_list {width: 180px;position: absolute;display: none;text-align: left;list-style: none;box-shadow: 0 2px 3px #333;right: -9px;margin: 0;padding: 0;}
#theme_modbar_list a {display: block;padding: 7px;color: #5E5E5E !important;background: #fff;text-shadow: none !important;font-family:Tahoma;font-size:11px;}
#theme_modbar_list li:hover a {background: #E7E7E7;text-decoration: none;color: #880500 !important;}
#theme_modbar_buttom {font-weight: bold;font-size: 200%;line-height: 33px;height: 35px;}
#theme_modbar_buttom:after {content: '≡';padding-left: 8px;font-size:26px;}
#theme_modbar:hover #theme_modbar_list {display: block;}
.butEdit {text-decoration:none;}
.butEdit:hover {opacity:0.7;}
.not-auth-mess {background:url(../img/inp_war.png) center 0 repeat-x;padding:5px;color:#aa0808;text-align:center;margin-top:7px;}
.not-auth-mess a {color:#aa0808;}
.user_prof {overflow:hidden;}
.user_prof .user_left {float:left;width:180px}
.user_link {list-style:none;padding:4px 0px; background:url(../img/sep-d.png) repeat-x left bottom;}
.user_link a {text-decoration:none;}
.user_link a:hover {text-decoration:underline;}
.user_prof .uAvatar {position:relative;min-height:120px;}
.user_prof .uAvatar  .avatar {margin:7px 0px 0px 7px;}
.user_prof .uAvatar .ava_bord {background:url(../img/avatar_non.png) no-repeat; width:120px;height:116px;position:absolute;}
.user_prof .user_center {margin:0px 0px 0px 182px;background:url(../img/user_pro.png);width:390px;padding:5px;}
.user_prof .user_right {float:right;width:375px;position:relative;}
.user_prof .user_right  .rep_change {position:absolute;right:0;
font-size: 11px;
font-weight: 700;
padding: 9px 10px;
display:block;
background:url(../img/color/bk-nav.png) center bottom repeat-x;color:#fff;text-decoration:none;}
.user_prof .user_right  .rep_change:hover {background: url("../img/nav.png") 0px -3px transparent !important;
color: #FFFFFF;}
.user_prof .user_right  .reputational {padding:6px 20px 6px 10px;color:#000;background: url("../img/dirt.png");text-align:left;font-family: "Play";font-size:16px;}
.user_prof .user_right  .reputational a {color:#fff;}
.user_prof .user_right  .normal {background-color:#ccc;}
.photos_albums_container {overflow:hidden;}
.photo_loop {width:33%;float:left;}
.user_prof .user_right .bad {background-color:#A81B1B;color:#fff;}
.user_prof .user_right .good {background:#339816;}
.pm_form {margin-top:5px; border-top:2px solid #ececec;padding-top:6px;}
.user_pm {border:1px solid #ECECEC;overflow:hidden;margin:5px 0px 0px 0px;}
.user_pm_left {float:left;width:55px;height:55px;padding:4px;}
.user_pm_right {margin:0px 4px 8px 60px}
.user_pm_right .user_pm_delet {display:none;}
.user_pm_right:hover .user_pm_delet {display:block;}
.user_pm_right a {text-decoration:none;}
.user_pm_message {background:#f1f1f1;padding:5px;}
.user_pm_mes {padding:7px;}
.user_pm_time {font-size:10px;color:#9B9B9B;}
.user_pm_avatar {background:url(../img/ava.png) no-repeat;width:52px;height:52px;}
.user_pm_avatar img {width:50px;height:50px;margin:1px;}
.ttl-u,.eTitle a,.calTable td.calMonth a,.popuptitle,.slide-ttl a,.comm-usr a,.sect-ttl {color:#1b1b1b;}
.site-l {background:url(../img/color/bk-logo.png);}
#log-f .loginDiv,#log-f .passwordDiv,#log-f .buttonDiv input,#log-f .buttonDiv a {background-image:url(../img/color/bk-log.png);}
#catmenu ul li a.current-item,#catmenu ul li a.uMenuItemA,.calTable .calMdayA,.calTable .calMdayIsA,#casing input[type="submit"],#casing input[type="reset"],#casing input[type="button"],#casing button,#bottom input[type="submit"],#bottom input[type="reset"],#bottom input[type="button"],#bottom button,.switchActive,.ph-but,.post-mr a {background:url(../img/color/bk-nav.png) center bottom repeat-x !important;}
#search .schBtn input {background:url(../img/color/bk-sch.png);}
.flex-direction-nav a {background-image:url(../img/color/bk-slid.png);}
.page-body {background:#000!important;}
#main-bg {background:#000 url(../img/bg/bg13.jpg) center 0 no-repeat;}
a,#log-f .loginDiv input,#log-f .passwordDiv input,#log-f .usr-info div,.eTitle a:hover,.slide-ttl a:hover,.fpost-ttl,.post-sml .post-t a:hover {color:#464343;}
.sidebox .eTag:hover,#bottom .sidebox .eTag:hover {background-color:#958483}
@font-face{
font-family: "Play";
src: url("../fonts/f003.eot");
src: url("../fonts/f003.eot?#iefix") format("embedded-opentype"),
url("../fonts/f003.woff") format("woff"),
url("../fonts/f003.ttf") format("truetype"),
url("../fonts/f003.svg#webfont") format("svg");
font-weight: normal;
font-style: normal;
}
.site-n a,.ttl-u,#catmenu ul li a,.eTitle,.sidetitle,.calTable .calWday,.calTable .calWdaySe,.calTable .calWdaySu,.popuptitle,.gTableTop,#log-f .ulogin-btn a,#log-f .ulogin-btn a span,.post-t,.slide-ttl a,h1,h2,h3,h4,#post-rel li a,.fpost-t strong,.ph-ttl,.sect-ttl,.ld-but,.rld-but {font-family:"Play"!important;}
#overlay {background:url(../img/header/head19.png) center 0 no-repeat;}
.slide-ttl a {color:#ccc;}
.categories li {list-style:none;}
.fps-show-mat {display:none;}
.vote_buttons {padding:5px 0px 0px 0px;}
span.post_fps  {display:inline-block;height:14px;line-height:14px;font-weight:bold;background:url(../img/icn.png) 0 0 no-repeat;padding:0 5px 0 22px;background-position:0 -199px;font-size:10px;color:#ccc;}
.meta_news {min-height:25px;}
.meta_adding {float:right;}

ul.spisok-all {list-style:none;padding: 10px 0;margin: 0;}
/*--------------------------------------------------------------AJAX-WINDOW----------------------------------------------------------------------------*/
.fps-fwin {position:fixed;top: 40%;left: 40%;z-index: 99999;}
.fps-fwin a {
display: inline-block;
height: 22px;
line-height: 22px;
font-size: 15px;
margin-left: 5px;
padding: 0 10px;
background: #f6f6f6;
background: -moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e5e5e5));
border: 1px solid #dbdbdb;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,1) inset, 0 1px 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 1px 0 rgba(255,255,255,1) inset, 0 1px 0 rgba(0,0,0,0.3);box-shadow: 0 1px 0 rgba(255,255,255,1) inset, 0 1px 0 rgba(0,0,0,0.3);
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
color: #616161;
text-shadow: none;
white-space: nowrap;
cursor: pointer;
text-decoration: none;
}
.fps-fwin a:hover {background: #e6e6e6;}
.drag_window {

z-index: 9999; 
position: relative;  
overflow: hidden;
width: 505px;  
max-width: 550px;      
background-color: #fff; 
border-radius: 4px;  -moz-border-radius: 4px;  -webkit-border-radius: 4px;
box-shadow: 0 0 40px 0 rgba(0,0,0,0.16);
-moz-box-shadow: 0 0 40px 0 rgba(0,0,0,0.16);
-webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.16);
}
.drag_window #sql_querys {display:none}
.drag_window .fps-title {
cursor: move;
position:relative;
padding: 17px 25px 18px 25px; border-bottom: 1px solid #e6e6e6;
}
.drag_window .fps-cont {
border: 1px solid #ccc;
padding: 5px;
max-height: 400px;
overflow: visible;
margin: 8px 10px 20px 10px;
background: #fff;
-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
}
.drag_window .fps-cont div p {margin: 0;}
.drag_window .fps-cont div ul.errorMsg {padding: 5px;list-style: none;}
.drag_window .fps-cont div ul.errorMsg li {border-bottom: 1px solid #780;}
.drag_window .fps-close {background: url('../img/on_off_butt.png') -28px 0 no-repeat;  position:absolute;right:15px;top:10px;
background-color:transparent;background-image: url(../img/color/bk-log.png);background-position:-133px -46px;border:none;margin:0;padding:0;height:22px;width:20px;overflow:hidden;text-indent:100%;white-space:nowrap;cursor:pointer;}
.fps-fwin .fps-close:hover {background-position: -113px -46px;}
.fps-fwin textarea {width: 98%;height: 50px;margin: 7px 0;}
.fps-fwin fieldset {margin-top:7px; padding:2px; border: 1px solid #800; font-size:12px;}
.fps-fwin fieldset legend {font-size:11px;}
.fps-form-red {width:100%; border:1px solid #7F9DB9; border-bottom:none;}
.fps-form-textarea {overflow:hidden; width:100%; border:1px solid #7F9DB9;}
.fps-form-textarea textarea {border:none;}
.fps-control {font-size:12px;}
.fps-control input, .fps-control select {font-size:12px;}
.aimg {cursor:pointer;}
.botname {color:#FF0000;}
.smilebox {width:100%;height:400px;overflow:auto; background:#131A1D;}
.smilebox div {width:38px;height:40px; float:left;}
/*--rating--*/
.urating {border-bottom: 1px dashed #ccc; margin-bottom:5px;}
.urating .action {float:left; color: #666; font-size:17px; font-weight:bold; padding:0 3px;}
.urating .action span {color:#E27B1C;}
.urating .usr a {color: #000;  text-decoration:none;background: transparent;border: none;box-shadow: none;margin: 0;padding: 0 5px 0 0;}
.urating .usr a:hover {color:#656565;}
.urating .usr {float:left;  font-size:14px; padding: 0;}
.urating .date { color: #2B311A; font-size: 9px; padding: 5px 5px; float: left;}
.urating .moder {float: right;  margin-top: 3px;}
.urating .moder a {width: 14px;  height: 14px;  margin: 0 1px;  background: url('../img/fps-icons-sprite.png') no-repeat;  background-position: 0 0;  box-shadow: none;  border: none;  padding: 0;}
.urating .comm {color:#656565; font-size:12px; padding:2px 2px 5px 2px;clear: both;}
/*--rating--*/

.fps-edit, .fps-delete, .fps-add, .fps-up, .fps-down, .fps-star, .fps-ip, .fps-on, .fps-off, .fps-close, .fps-open, .fps-like, .fps-unlike, .fps-fix, .fps-unfix, .fps-premoder-confirm, .fps-premoder-reject, .fps-user {width:14px; height: 14px; display:block; float:left; margin:0 1px; background: url('../img/fps-icons-sprite.png') no-repeat;}
.fps-delete {background-position:0 0;}
.fps-down {background-position:0 -14px;}
.fps-up {background-position:0 -28px;}
.fps-edit {background-position:0 -42px;}
.fps-close {background-position:0 -56px;}
.fps-open {background-position:0 -70px;}
.fps-unfix {background-position:0 -84px;}
.fps-fix {background-position:0 -98px;}
.fps-off {background-position:0 -112px;}
.fps-on {background-position:0 -126px;}
.fps-star {background-position:0 -140px;}
.fps-ip {background-position:0 -154px;}
.fps-like {background-position:0 -168px;}
.fps-unlike {background-position:0 -182px;}
.fps-premoder-confirm {background-position:0 -210px;}
.fps-premoder-reject {background-position:0 -196px;}
.fps-user {background-position:-14px 0;}