{{ editor_body }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
  <tbody>

 <tr> <td colspan="2" class="manTdBrief"><h3> Добавление новой фотографии</h3></td></tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
<td width="30%" class="manTd1">Категория: <font color="red">*</font></td>
<td class="manTd2"><select name="cats_selector">{{ context.cats_selector }}</select> </td>
 

 <tr><td height="10" colspan="2"><hr /></td></tr>
<td width="30%" class="manTd1">Название фотографии: <font color="red">*</font></td>
<td class="manTd2"><input type="text" name="title" maxlength="128" value="{{ context.title }}"> </td>

<tr><td height="10" colspan="2"><hr /></td></tr>
<td width="30%" class="manTd1">Изображение: <font color="red">*</font></td>
<td class="manTd2"><input type="file" name="foto" size="25" /> </td>

   <tr><td colspan="2"><textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></td></tr>

{% if checkAccess([module,'record_comments_management']) %}
<tr><td height="10" colspan="2"><hr /></td></tr>
<td width="30%" class="manTd1">Разрешить комментировать </td>
<td class="manTd2"><input type="checkbox" name="commented" value="1" {{ context.commented }} /> </td>
{% endif %}
      <tr><td height="10" colspan="2"><hr /></td></tr>
      <tr><td colspan="2"> <input type="submit" name="submitForm" value="Отправить" /></td></tr>
  </tbody>
  </table>
</form>