{% if add_link %}<div class="meta_adding" >
<a href="{{ www_root }}/foto/add_form/" class="lastpostsbutton button">Добавить фотографию</a>
</div>{% endif %}
<div class="meta_news">{{ meta }}</div>
<div class="sect-ttl"><span>Фотоальбомы</span></div>

{% if entities %}
<div class="material">
      <div class="mat-content">
      <div class="photos_albums_container">

      {% for entity in entities %}
<div class="photo_loop">
<div class="ph-b">
<div class="ph-i">
<div class="ph-img">
<img src="{{ entity.preview_foto }}" class="ph-t" alt="Into The Light">
<a href="{{ entity.entry_url }}" class="ph-lnk"><span></span></a>

</div>
</div>
<div class="post-m">
<div class="post-l">
<span class="m-cat" title="Категория"><a href="{{ entity.category_url }}">{{ entity.category.title }}</a></span>
<span class="m-date" title="Дата">{{ entity.date }}</span>
<div class="clr"></div>
</div>
</div>
<div class="ph-ttl"><a href="{{ entity.entry_url }}">{{ entity.title }}</a>   {{ entity.moder_panel }}</div>
</div>
</div>
      {% endfor %}
  
      </div>
      </div>
</div>
{% else %}
<div class="informs">
Фотографий еще не добавлено.
</div>
{% endif %}








