<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />

<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>

<script type="text/javascript" src="{{ template_path }}/js/script.js"></script>

{{ editor_head }}

<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<!--/FancyBOX -->

<script type="text/javascript">
{% if atm_user.id %}
    check_pm();
{% endif %}
</script>
</head>


<body class="page-body">


<div id="main-bg">
<div id="overlay">
<div class="wrapper">

<header>
<div id="header">
<div class="site-l"></div>
<div class="site-names">
<div class="site-n">
<a href="{{ www_root }}">Мишка здесь</a><br>
<span class="ttl-d"></span>
<span class="site-d">шаблон для Atom-M</span>
</div>
</div>

<div class="site-u">
<div class="ttl-u">
<span class="ttl-d"></span>
<div>Мой аккаунт:</div>
</div>
<div id="log-f">

{% if atm_user.id %}
<div class="usr-box">
<div class="usr-ava"><img src="{{ atm_user.avatar_url }}" width="46" height="46" /></div>
<div class="usr-info">
<div>{{ atm_user.name }}</div>
<a href="{{ atm_user.profile }}">Профиль на сайте</a>
<a href="{{ www_root }}/users/pm/" class="usr-m">Сообщения ( {{ atm_user.unread_pm }} )</a>
{% if fps_admin_access == 1 %}
<a href="{{ www_root }}/admin/" target="_blank">Админка</a>
{% endif %}
</div>
<div class="buttonDiv"><a href="{{ www_root }}/users/logout" title="Выйти">Выйти</a></div>
<div class="clr"></div>
</div>
{% else %}
<form action="/users/login/" id="mloginForm" name="mloginForm" method="post" onclick="sendu(this); return false">
<div class="loginBlock">
<div class="loginDiv"><span>Логин:</span><input type="text" name="username" value="" maxlength="50"/></div>
<div class="passwordDiv"><span>Пароль:</span><input type="password" name="password" maxlength="15"/></div>
<div class="buttonDiv"><input type="submit" value="Вход"/></div>
<input type="hidden" value="submit" name="submitForm">
<div class="loginLinks"><a class="logLnkRem" href="{{ www_root }}/users/new_password_form/">Забыл пароль</a><span class="logLnkSep">| </span>
<a class="logLnkReg" href="{{ www_root }}/users/add_form">Регистрация</a></div>
</div>
</form>
{% endif %}
</div>
</div>

</div>
</header>
<nav>
<div id="nav-box">
<div id="catmenu">
<!-- <sblock_menu> -->
<ul class="ut-menu">
<li><a href="/"><span>Главная</span></a></li>
<li><a href="/forum"><span>Форум</span></a></li>
<li><a href="/loads"><span>Файлы</span></a></li>
<li><a href="/news"><span>Новости</span></a></li>
<li><a href="/stat"><span>Статьи</span></a></li>
</ul>
<!-- </sblock_menu> -->
<div class="clr"></div>
</div>
 <form method="POST" action="{{ www_root }}/search/"> 
 <input type="hidden" name="subaction" value="search"> 
<div id="search">
<div class="search-box">
<div class="searchForm">
<div class="schQuery">
<input value="Поиск по сайту..." type="text" name="search" maxlength="30" size="20" class="queryField" /></div><div class="schBtn">
<input type="submit" class="searchSbmFl" name="send" value="Найти" /></div>
</div>
</div>
</div>
</form>
<div class="clr"></div>
</div>
</nav>

<div id="casing">
<!-- <middle> -->
<section>
<div id="content">


{{ content }}


{{ comments }}
{% if comments_pagination %}<div class="comm-pgc">{{ comments_pagination }}</div>{% endif %}
{{ comments_form }}

{% if pagination %}
<div class="catPages1" align="center" id="pagesBlock1" style="clear:both;">{{ pagination }}</div>
{% endif %}
</div>
</section>
<aside>
<div id="sidebar">
<!-- Начало блоков -->
<!-- <block2> -->


<div class="sidebox"><div class="sidetitle"><span>Мини-чат</span><span class="ttl-d"></span></div>
 <div class="inner">
{{ fps_chat }}
 </div>
 <div class="clr"></div>
 </div>


<!-- </block2> -->

<!-- <block4> -->

<div class="sidebox"><div class="sidetitle"><span>Категории раздела</span><span class="ttl-d"></span></div>
 <div class="inner">

 <ul class="categories">
 {{ categories }}
 </ul>
 </div>
 <div class="clr"></div>
 </div>

<!-- </block4> -->

<!-- <block5> -->

<div class="sidebox"><div class="sidetitle"><span><!-- <bt> --><!--<s5195>-->Статистика<!--</s>--><!-- </bt> --></span><span class="ttl-d"></span></div>
 <div class="inner">
 <div align="center"><img src="{{ counter }}" width="88" height="31" />
 <hr />Сейчас online: {{ all_online }}<br />
 Пользователей: {{ users_online }} <br />
 Гостей: {{ guests_online }} <hr />
 {{ online_users_list }}<!-- </bc> --></div> 
 </div>
 <div class="clr"></div>
 </div>

<!-- </block5> -->
<!-- Конец блоков -->
<div class="clr"></div>
</div>
</aside>
<!-- </middle> -->
<div class="clr"></div>
</div>
<div id="bottom">
<div id="bot-i"> 
<aside> 
<!-- <container> --><!-- <block8349> -->
<div class="sidebox"><div class="sidetitle"><span>Партнеры сайта</span><span class="ttl-d"></span></div>
 <div class="inner">
 <!-- <bc> --><ul>
 <li><a href="http://atom-m.net">Atom-M</a></li>
 <li><a href="#">Рип студия</a></li>
 <li><a href="#">Место свободно</a></li>
 </ul><!-- </bc> --> 
 </div>
 <div class="clr"></div>
 </div>
<!-- </block8349> -->

<!-- <block11> -->
<div class="sidebox"><div class="sidetitle"><span>Скачать</span><span class="ttl-d"></span></div>
 <div class="inner">
 <!-- <bc> --><ul>
 <li><a href="#">Модули</a></li>
 <li><a href="#">Сборки игры</a></li>
 <li><a href="#">Патчи</a></li>
 <li><a href="#">Скрипты</a></li>
 </ul><!-- </bc> --> 
 </div>
 <div class="clr"></div>
 </div>
<!-- </block11> -->

<!-- <block2430> -->
<div class="sidebox"><div class="sidetitle"><span><!-- <bt> -->Читать<!-- </bt> --></span><span class="ttl-d"></span></div>
 <div class="inner">
 <!-- <bc> --><ul>
 <li><a href="http://">Новости</a></li>
 <li><a href="">Статьи</a></li>
 <li><a href="">Прохождении</a></li>
 <li><a href="">Нововедение</a></li>
 </ul><!-- </bc> --> 
 </div>
 <div class="clr"></div>
 </div>
<!-- </block2430> -->

<!-- <block7610> -->
<div class="sidebox"><div class="sidetitle"><span><!-- <bt> -->Читать<!-- </bt> --></span><span class="ttl-d"></span></div>
 <div class="inner">
 <!-- <bc> --><ul>
 <li><a href="http://">Новости</a></li>
 <li><a href="">Статьи</a></li>
 <li><a href="">Прохождении</a></li>
 <li><a href="">Нововедение</a></li>
 </ul><!-- </bc> --> 
 </div>
 <div class="clr"></div>
 </div>
<!-- </block7610> --><!-- </container> -->
<div class="clr"></div>
</aside>
</div>
</div>
<!-- <footer> -->
<footer>
<div id="footer">
&copy Материалы сайта принадлежат исключительно правообладателям
</div>
</footer>
<!-- </footer> -->
</div>
</div>
</div>
<script type="text/javascript" src="{{ template_path }}/js/ui.js"></script>
</body>
</html>
