

<div class="sect-ttl"><span>{{ entity.title }}</span> {% if entity.moder_panel %}<div style="float:right">{{ entity.moder_panel }} </div> {% endif %}</div>
<div id="full-ph">
<div>
<img src="{{ entity.main }}" alt="Into The Light"><a href="{{ entity.main }}" title="реальный размер" class="gallery"><span></span></a>
</div>
</div>
<div id="full-dsc">
<ul id="ph-ul">
  {% if entity.commented %}<li><span class="dsc-t">Комментариев: {{ entity.comments }} </li>{% endif %}
<li><span class="dsc-t"><!--<s3177>-->Просмотров<!--</s>-->:</span> {{ entity.views }}</li>
<li><span class="dsc-t">Альбом: <a href="{{ entity.category_url }}"> {{ entity.category.title }}</a></li>
<li><span class="dsc-t"><!--<s3165>-->Дата<!--</s>-->:</span> {{ entity.date }} </li>
</ul>

<div class="full-rt">
<div class="rt-l"><span class="dsc-t">Автор:<a href="{{ entity.profile_url }}"> {{ entity.author.name }}</a></div>
<div class="rt-r">
</div>
<div class="clr"></div>
</div>

</div>
<div class="clr"></div>
<div id="ph-txt">
{{ entity.description }}
</div>
<br>
<div class="fpost-sh">

<div class="clr"></div>
<hr>
</div>

{{ relmat }}
