{{ editor_body }}
{{ script_gentags }}
<script type="text/javascript">
maxAttachedFiles = {{ context.max_attaches }};
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu(this)}; return false">
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
<tbody>
<tr>
 <tr> <td colspan="2" class="manTdBrief"><h3> Добавления файла </h3></td></tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
 </tr>
 <tr>
<td width="30%" class="manTd1">Категория: <font color="red">*</font></td>
<td class="manTd2"><select name="cats_selector">{{ context.cats_selector }}</select> </td>
</tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Название файла: <font color="red">*</font></td>
<td class="manTd2"><input type="text" size="35" style="width:100%;" name="title" maxlength="128" value="{{ context.title }}"></td>
</tr>    
     <tr><td height="10" colspan="2"><hr /></td></tr>  
<tr>
<td width="30%" class="manTd1">Загрузить файл: <font color="red">*</font></td>
<td class="manTd2">
<input type="file" name="attach" /></td>
</tr>

 <tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Указать зеркало: </td>
<td class="manTd2">
<input size="70" type="text" name="download_url" value="{{ context.download_url }}" style="width:100%;" />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Размер файла на зеркале: </td>
<td class="manTd2">
<input size="70" type="text" name="download_url_size" value="{{ context.download_url_size }}" style="width:100%;" />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>       
<tr>
<td colspan="2" class="manTdBrief">
<div>Описание материала: </div>
<textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Загрузить скриншоты:</td>
<td class="manTd2" id="attachments">
<input class="attachField" type="file" id="attach1" name="attach1" onchange="getFile(1)"><span id="attachMeta1"></span>
<input type="button" name="addInput" value="Добавить еще скриншот" onclick="addFileField('attachments');">
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Meta description:</td>
<td class="manTd2">
<textarea name="description" style="width:100%">{{ context.description }}</textarea>
</td>
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Теги:</td>
<td class="manTd2">
<input {{ input_gentags }} size="70" type="text" name="tags" style="width:100%" value="{{ context.tags }}" />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Разработчик:</td>
<td class="manTd2">
<input size="70" type="text" name="sourse" style="width:100%" value="{{ context.sourse }}" />
</td>
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">E-Mail автора:</td>
<td class="manTd2">
<input size="70" type="text" name="sourse" style="width:100%" value="{{ context.sourse_email }}" />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>    
<tr>
<td width="30%" class="manTd1">Ссылка на первоисточник:</td>
<td class="manTd2">
<input size="70" type="text" name="sourse" style="width:100%" value="{{ context.sourse_site }}" />
</td>
</tr>

{% if checkAccess([module,'record_comments_management']) %}
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Разрешить комментирование?:</td>
<td class="manTd2">
<input type="checkbox" name="commented" value="1" {{ context.commented }} />
</td>
</tr>
{% endif %}
 {% if checkAccess([module,'hide_material']) %}
 <tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Доступен для просмотра:</td>
<td class="manTd2">
<input type="checkbox" name="available" value="1" {{ context.available }} />
</td>
</tr>
 {% endif %}
<tr><td align="center" colspan="2"> <input type="submit" name="submitForm" value="Отправить" /></td></tr>


</tbody>
</table>
</form>
