{% if entities %}

<h3>Каталог файлов</h3>
<b>Сортировать по: </b>{{ getOrderLink(['title','Названию']) }} /
{{ getOrderLink(['downloads','Скачиваниям']) }} / 
{{ getOrderLink(['views','Просмотрам']) }} /
 {{ getOrderLink(['comments','Комментариям']) }} /
 {{ getOrderLink(['date','Дате добавления']) }}
 <hr />
      {% for entity in entities %}
<div class="post-b">
<div class="post-i"><div><img src="{{ entity.img.url_1 }}" alt="{{ entity.title }}"><a href="{{ entity.entry_url }}"><span></span></a></div></div>
<div class="post-d">
<div class="post-t"><a href="{{ entity.entry_url }}">{{ entity.title }}</a></div>
<div class="post-f">{{ entity.announce }}</div>
</div>
<div class="post-m">
<div class="post-r">{{ entity.moder_panel }}</div>
<div class="post-l">
<span class="m-date" title="Дата">{{ entity.date }}</span>
<span class="m-name" title="Автор"><a href="{{ entity.profile_url }}">{{ entity.author.name }}</a></span>
<span class="m-read" title="Просмотры">{{ entity.views }}</span>
<span class="m-load" title="Загрузки">{{ entity.downloads }}</span>
<span class="m-comm" title="Комментарии"><a href="{{ entity.entry_url }}">{{ entity.comments }}</a></span>
<div class="clr"></div>
</div>
</div>
<div class="clr"></div>
</div>
      {% endfor %}

{% else %}
<div class="informs">
Каталог файлов пуст.
</div>
{% endif %}