<form name="addNewUserForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
  <tbody>
<tr>
 <tr> <td colspan="2" class="manTdBrief"><h3> Изменение профиля </h3></td></tr>

 <tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="50%" class="manTd1">Логин: </td>
<td class="manTd2"> <input type="text" name="login" maxlength="30" value="{{ context.login }}" /></td>
</tr>
 
 
 <tr><td height="10" colspan="2"><hr /></td></tr>
<td width="50%" class="manTd1">Полное имя: </td>
<td class="manTd2"><input type="text" name="full_name" style="width:60%;" maxlength="255" value="{{ context.full_name }}" /> </td>
</tr>



<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="50%" class="manTd1">Адрес e-mail: </td>
<td class="manTd2"><input type="text" name="email" maxlength="60" style="width:60%;" value="{{ context.email }}" /></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="50%" class="manTd1">Пароль: <div style="font-size:10px"> Укажите такой чтоб не взломали</div></td>
<td class="manTd2"><input type="password" name="password" maxlength="30" value=""  /></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="50%" class="manTd1">Подтвердите пароль:</td>
<td class="manTd2"><input type="password" name="confirm" maxlength="30" value=""  /></td>
</tr>



<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Пол: </td>
<td class="manTd2">
Мужской<input type="radio" name="pol" value="1"{{ context.mpol }} />
Женский<input type="radio" name="pol" value="2"{{ context.fpol }} /></td>
</tr>


<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Город: </td>
<td class="manTd2">
<input type="text" name="city" style="width:60%;" maxlength="100" value="{{ context.city }}" />
</tr>


<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Дата рождения: <div style="font-size:10px"> (день;месяц;год) </div> </td>
<td class="manTd2">
<select name="bday">{{ context.bday_selector }}</select><select name="bmonth">{{ context.bmonth_selector }}</select><select name="byear">{{ context.byears_selector }}</select>        
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Коррекция временных зон:<div style="font-size:10px"> Укажите разницу вашего времени относительно серверного, чтобы скорректировать время на часах сайта под вас.</div> </td>
<td class="manTd2">
 <select name="timezone">{{ context.options }}</select>Текущее время на сервере: {{ context.servertime }}
</td>
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Аватар:<div style="font-size:10px"> Показывает небольшое изображение рядом с вашими ответами, материалами и т.п</div> </td>
<td class="manTd2">
 <img title="{{ context.name }}" class="avatar" border="0" src="{{ context.avatar }}" alt=""><br/>{{ context.unlinkfile }}<br/><input type="file" name="avatar"  />
</td>
</tr>


<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Подпись:<div style="font-size:10px">Показывается под вашими сообщениями</div> </td>
<td class="manTd2">
<textarea name="signature" cols="30" rows="3" style="width:100%">{{ context.signature }}</textarea>
</td>
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">О себе:<div style="font-size:10px">Коротко о себе</div> </td>
<td class="manTd2">
<textarea name="about" cols="30" rows="3" style="width:100%">{{ context.about }}</textarea>
</td>
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Сайт:<div style="font-size:10px">Ваш WEB-site или ссылка на вашу страницу в соц. сети</div> </td>
<td class="manTd2">
<input type="text" name="url" maxlength="60" value="{{ context.url }}"  />
</td>
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Телефон:</td>
<td class="manTd2">
<input type="text" name="telephone" maxlength="100" value="{{ context.telephone }}" />
</td>
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Номер ICQ:</td>
<td class="manTd2">
<input type="text" name="icq" maxlength="12" value="{{ context.icq }}"  />
</td>
</tr>

<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Jabber:</td>
<td class="manTd2">
<input type="text" name="jabber" maxlength="100" value="{{ context.jabber }}" />
</td>
</tr>





<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Код подтверждения: <div style="font-size:10px">Введите код с картинки, для проверки. что вы не робот.</div> </td>
<td class="manTd2">
<span id="captcha"><img onclick="this.src='/sys/inc/kcaptcha/kc.php/?'+Math.round(Math.random(0)*1000)" src="{{ context.captcha }}" alt="" /></span>
            <br /><input type="text" name="keystring" maxlength="6" value="{{ context.keystring }}" /></span>
</td>
</tr>

<tr><td height="10" colspan="2">  <input type="submit" name="submitForm" value="Сохранить" /></td></tr>

</table>
</form>