<form name="loginForm" action="{{ context.action }}" method="POST" id="sendForm" onsubmit="sendu(this); return false">



<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
<tbody>
<tr><tr> <td colspan="2" class="manTdBrief"><h3>Авторизация</h3></td></tr>
<tr>
<td width="50%" class="manTd1">Логин: </td>
<td class="manTd2"><input type="text" name="username" maxlength="30" value="" style="width:60%" /> </td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="50%" class="manTd1">Пароль: </td>
<td class="manTd2"><input type="password" name="password" maxlength="30" style="width:60%"/> </td>
</tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="50%" class="manTd1">Запомнить: </td>
<td class="manTd2"><input type="checkbox" name="autologin" value="1" /></td>
</tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
 <tr><td colspan="2"><input type="submit" name="submitForm"value="Вход" /> {{ context.new_password }}</td></tr>
</tbody>
 </table>
 </form>
