<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />

<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>

<script type="text/javascript" src="{{ template_path }}/js/script.js"></script>

{{ editor_head }}

<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<!--/FancyBOX -->

<script type="text/javascript">
{% if atm_user.id %}
    check_pm();
{% endif %}
</script>
</head>


<body class="page-body">

<div id="main-bg">
 <div id="overlay" class="forum-cas">
 <div class="wrapper">
 <!--U1AHEADER1Z-->
 <header>
 <div id="header">
 <div class="site-l"></div>
<div class="site-names">
<div class="site-n">
<a href="{{ www_root }}">Мишка здесь</a><br>
<span class="ttl-d"></span>
<span class="site-d">шаблон для Atom-M</span>
</div>
</div>
 <div class="site-u">
 <div class="ttl-u">
 <span class="ttl-d"></span>
 <div>Мой аккаунт:</div>
 </div>
<div id="log-f">

{% if atm_user.id %}
<div class="usr-box">
<div class="usr-ava"><img src="{{ atm_user.avatar_url }}" width="46" height="46" /></div>
<div class="usr-info">
<div>{{ atm_user.name }}</div>
<a href="{{ atm_user.profile }}">Профиль на сайте</a>
<a href="{{ www_root }}/users/pm/" class="usr-m">Сообщения ( {{ atm_user.unread_pm }} )</a>
{% if fps_admin_access == 1 %}
<a href="{{ www_root }}/admin/" target="_blank">Админка</a>
{% endif %}
</div>
<div class="buttonDiv"><a href="{{ www_root }}/users/logout" title="Выйти">Выйти</a></div>
<div class="clr"></div>
</div>
{% else %}
<form action="/users/login/" id="mloginForm" name="mloginForm" method="post" onclick="sendu(this); return false">
<div class="loginBlock">
<div class="loginDiv"><span>Логин:</span><input type="text" name="username" value="" maxlength="50"/></div>
<div class="passwordDiv"><span>Пароль:</span><input type="password" name="password" maxlength="15"/></div>
<div class="buttonDiv"><input type="submit" value="Вход"/></div>
<input type="hidden" value="submit" name="submitForm">
<div class="loginLinks"><a class="logLnkRem" href="{{ www_root }}/users/new_password_form/">Забыл пароль</a><span class="logLnkSep">| </span>
<a class="logLnkReg" href="{{ www_root }}/users/add_form">Регистрация</a></div>
</div>
</form>
{% endif %}
</div>
 </div>
 
 </div>
 </header>
 <nav>
 <div id="nav-box">
 <div id="catmenu">
<!-- <sblock_menu> -->
<ul class="ut-menu">
<li><a href="/"><span>На главную</span></a></li>
<li><a href="{{ atm_user.profile }}"><span>Обзор Профиля</a></span></a></li>
<li><a href="/forum"><span>Форум</span></a></li>
<li><a href="/loads"><span>Файлы</span></a></li>
<li><a href="/news"><span>Новости</span></a></li>
<li><a href="/stat"><span>Статьи</span></a></li>
</ul>
<!-- </sblock_menu> -->
 <div class="clr"></div>
 </div>
 <form method="POST" action="{{ www_root }}/search/"> 
 <input type="hidden" name="subaction" value="search"> 
<div id="search">
<div class="search-box">
<div class="searchForm">
<div class="schQuery">
<input value="Поиск по сайту..." type="text" name="search" maxlength="30" size="20" class="queryField" /></div><div class="schBtn">
<input type="submit" class="searchSbmFl" name="send" value="Найти" /></div>
</div>
</div>
</div>
</form>
 <div class="clr"></div>
 </div>
 </nav>
 <!--/U1AHEADER1Z-->
 <div id="casing">
 <div class="forumContent">
{{ content }}
{{ comments }}

{% if pagination %}
<div class="catPages1" align="center" id="pagesBlock1" style="clear:both;">{{ comments_pagination }}</div>
{% endif %}

 <div class="clr"></div>
 </div></div>
 <div id="bottom">
 <div id="bot-i"> 
 <aside> 
 <!--U1DRIGHTER1Z--><!-- <block8349> -->
<div class="sidebox"><div class="sidetitle"><span><!-- <bt> -->О системе uCoz<!-- </bt> --></span><span class="ttl-d"></span></div>
 <div class="inner">
 <!-- <bc> --><ul>
 <li><a href="http://www.ucoz.ru/tour/">Общая информация</a></li>
 <li><a href="http://top.ucoz.ru/">ТОП сайтов</a></li>
 <li><a href="http://all-projects.ucoz.ru/">Все проекты</a></li>
 </ul><!-- </bc> --> 
 </div>
 <div class="clr"></div>
 </div>
<!-- </block8349> -->

<!-- <block11> -->
<div class="sidebox"><div class="sidetitle"><span><!-- <bt> -->Сообщество<!-- </bt> --></span><span class="ttl-d"></span></div>
 <div class="inner">
 <!-- <bc> --><ul>
 <li><a href="javascript://" onclick="window.open('ht'+'tp://blog.ucoz.ru/');return false;" rel="nofollow">Блог</a></li>
 <li><a href="javascript://" onclick="window.open('ht'+'tp://forum.ucoz.ru/');return false;" rel="nofollow">Форум</a></li>
 <li><a href="javascript://" onclick="window.open('ht'+'tp://www.facebook.com/ucoz');return false;" rel="nofollow">Facebook</a></li>
 <li><a href="javascript://" onclick="window.open('ht'+'tp://twitter.com/ucoz_ru');return false;" rel="nofollow">Twitter</a></li>
 </ul><!-- </bc> --> 
 </div>
 <div class="clr"></div>
 </div>
<!-- </block11> -->

<!-- <block2430> -->
<div class="sidebox"><div class="sidetitle"><span><!-- <bt> -->Помощь<!-- </bt> --></span><span class="ttl-d"></span></div>
 <div class="inner">
 <!-- <bc> --><ul>
 <li><a href="javascript://" onclick="window.open('');return false;" rel="nofollow">Документация</a></li>
 <li><a href="javascript://" onclick="window.open('ht'+'tp://faq.ucoz.ru/');return false;" rel="nofollow">FAQ</a></li>
 <li><a href="javascript://" onclick="window.open('ht'+'tp://book.ucoz.ru/');return false;" rel="nofollow">Учебник</a></li>
 <li><a href="javascript://" onclick="window.open('ht'+'tp://partner.ucoz.ru/');return false;" rel="nofollow">Партнерская сеть</a></li>
 </ul><!-- </bc> --> 
 </div>
 <div class="clr"></div>
 </div>
<!-- </block2430> -->

<!-- <block7610> -->
<div class="sidebox"><div class="sidetitle"><span><!-- <bt> -->Twitter<!-- </bt> --></span><span class="ttl-d"></span></div>
 <div class="inner">
 <!-- <bc> --><script type="text/javascript" src="/widget/?42;ucoz_ru|1|220|200"></script><!-- </bc> --> 
 </div>
 <div class="clr"></div>
 </div>
<!-- </block7610> --><!--/U1DRIGHTER1Z-->
 <div class="clr"></div>
 </aside>
 </div>
 </div>
 <!--U1BFOOTER1Z--><footer>
 <div id="footer">
 <!-- <copy> -->Puzzle © 2014<!-- </copy> -->. <!-- "' --><span class="pb2QJSsW">Хостинг от <a href="http://www.ucoz.ru/" title="Создать сайт бесплатно">uCoz</a></span>.
 </div>
 </footer><!--/U1BFOOTER1Z-->
 </div>
 </div>
</div>
<script type="text/javascript" src="{{ template_path }}/js/ui.js"></script>
</body>
</html>