<form name="newPasswordForm" id="sendForm" action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
<tbody>
<tr><tr> <td colspan="2" class="manTdBrief"><h3>Восстановление пароля</h3></td></tr>
<tr>
<td width="50%" class="manTd1">Имя(логин): </td>
<td class="manTd2"><input type="text" name="username" maxlength="30" value="" style="width:60%" /> </td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr><td height="10" colspan="2" align="center"> ИЛИ</td></tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="50%" class="manTd1">Адрес e-mail: </td>
<td class="manTd2"><input type="text" name="email" maxlength="60" style="width:60%"/> </td>
</tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
 <tr><td colspan="2">  <input type="submit" name="submitForm" value="Отправить" /></td></tr>
</tbody>
 </table>
 </form>