
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
<tbody>
<tr><tr> <td colspan="2" class="manTdBrief"><h3>Почтовый ящик(Список переписок)</h3></td></tr>
<tr>
</tr>
</tbody>
 </table>

{% if messages %}
{% for message in messages %}
 
<div class="user_pm">
<div class="user_pm_left">
 <div class="user_pm_avatar" onclick="location.href='{{ www_root }}/users/pm_view/{{ message.user.id }}'"><img src="{{ getAvatar(message.user.id) }}" class="avatar" alt=""/></div>
</div>
<div class="user_pm_right">
<div class="user_pm_delet" style="float:right">{{ message.delete }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" /></div>
<b><a href="{{ www_root }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }}</a></b> {% if message.direction == 'in'  %}( Входящие ) {% else %} ( Исходящие ){% endif %}
<br /> <div class="user_pm_time"> {{ message.sendtime }} </div>
{% if message.viewed != 1 %}<div class="user_pm_message" onclick="location.href='{{ www_root }}/users/pm_view/{{ message.user.id }}'" style="cursor: pointer;">  {{ message.text }} </div>
{% else %}
<div class="user_pm_mes" onclick="location.href='{{ www_root }}/users/pm_view/{{ message.user.id }}'" style="cursor: pointer;">  {{ message.text }} </div>
 {% endif %}
</div>
</div>

{% endfor %}
{% else %}
<div class="not-auth-mess">
 Ваш ящик пуст, вы можете начать беседу написав <a href="/users/send_pm_form/"> кому-нибудь сообщение</a>
</div>
{% endif %}
  Удалить отмеченные переписки: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/delete_messages_user-/');" value="(0)">
                 <div style="display:none;"><form id="actionPack" action="" method="POST" onsubmit="sendu(this);return false;"></form></div>
