
{{ editor_body }}

<script>
function sendPM() {
    $('#send_pm_a').hide();
    $('#send_pm_form').show();
}
</script>


      <h3>Беседа с {{ context.interlocutor }}</h3>
    

            
             {% if messages %}
             {% for message in messages %}
             
             
             
             
             
             
<div class="user_pm" {% if message.direction == 'in'  %} style="margin:6px 0px 0px 60px; border:1px solid #ccc;"{% endif %}>
<div class="user_pm_left">
 <div class="user_pm_avatar" ><img src="{{ getAvatar(message.user.id) }}" class="avatar" alt=""/></div>
</div>
<div class="user_pm_right">
<div class="user_pm_delet" style="float:right">{{ message.delete }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" /></div>
<b> {% if message.direction == 'in'  %}
<a href="{{ www_root }}/users/info/{{ message.user.id }}">{{ context.interlocutor }} </a>
 {% else %}
<a style="color: #787C88;text-decoration: none;cursor: default;">{{ atm_user.name }}</a>
{% endif %}</b> {% if message.direction == 'in'  %}( Входящие ) {% else %} ( Исходящие ){% endif %}
<br /> <div class="user_pm_time"> {{ message.sendtime }} </div>
{% if message.viewed != 1 %}<div class="user_pm_message">  {{ message.text }} </div>
{% else %}
<div class="user_pm_mes" onclick="location.href='{{ www_root }}/users/pm_view/{{ message.user.id }}'" style="cursor: pointer;">  {{ message.text }} </div>
 {% endif %}
</div>
</div>
             
             
                          
            {% endfor %}
            {% endif %}
            
Удалить отмеченные сообщения: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/delete_message_pack/');" value="(0)">
<div style="display:none;"><form id="actionPack" action="" method="POST"></form></div>
<div class="pm_form">
  <form name="sendForm" id="sendForm" action="/users/send_pm" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
                     <textarea {{ editor_text }} class="text-area" name="mainText"></textarea>
                     <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ context.interlocutor }}" style="display: none" />
                     <input class="subm" type="submit" name="submitForm" value="Отправить" />
                  </form>
                  
</div>
            
             
                
           
     

    