{{ editor_body }}
<script type="text/javascript">
// подставляем id юзера с которого был переход
window.onload = function(){
    var id;
    id = intURLafter();// получаем id юзера
    if (id !== undefined) {
         var backlink = $('#backuplink'), backlinkhref = '{{ www_root }}/users/info/';
         backlink.attr("href", backlinkhref + id);
         backlink.html("Вернуться к {{ context.touser }}");
         
         var pmlink = $('#pm'), pmlinkhref = '{{ www_root }}/users/send_pm_form/';
         pmlink.attr("href", pmlinkhref + id);
         
         var msglink = $('#msg'), msglinkhref = '{{ www_root }}/users/send_mail_form/';
         msglink.attr("href", msglinkhref + id);
    }
}
</script>
<form name="sendMailForm" id="sendForm" action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
  <tbody>

 <tr> <td colspan="2" class="manTdBrief"><h3> Отправление сообщения: {{ context.touser }}</h3></td></tr>


<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="50%" class="manTd1">Кому: <font color="red">*</font> <div style="font-size:10px">Внимание, в форме предусмотрен поиск по именам</div> </td>
<td class="manTd2"> <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ context.touser }}" list="findusers" style="width:100%"/></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td colspan="2"><textarea {{ editor_text }} name="mainText">{{ context.main_text }}</textarea></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td colspan="2"><input class="subm" type="submit" name="submitForm" value="Отправить" /></td>
</tr>
  
 </tbody>
 </table>
 </form>