
      <div class="mat-title"><h4>Профиль пользователя - {{ user.name }}</h4></div>
      <hr />
      <div class="user_prof">
      <div class="user_left">
      <div class="uAvatar">
        <div class="ava_bord"></div>
      <img class="avatar"  title="{{ user.name }}" src="{{ user.avatar }}" alt="" width="100px" height="100px"/>
    
      </div>
      {% if user.edit_profile_link %} <div class="user_link">{{ user.edit_profile_link }}</div>{% endif %}
      <div class="user_link"><a href="{{ www_root }}/users/info/{{ user.id }}">Обзор Профиля</a></div>
{% if atm_user.id == user.id %}<div class="user_link"><a href="{{ www_root }}/users/pm/">Сообщения</a></div>{% endif %}
 {% if atm_user.id %}
<div class="user_link"><a href="{{ www_root }}/users/send_pm_form/{% if atm_user.id != user.id %}{{ user.id }}{% endif %}">Отправить ЛС</a></div>
   {% if atm_user.id != user.id %}
<div class="user_link"><a href="{{ www_root }}/users/send_mail_form/{{ user.id }}">Отправить на почту</a></div>
    {% endif %}
                 {% endif %}
     
      </div>
      <div class="user_right">

 {% if checkAccess([module,'set_rating']) %} <a class="rep_change" href="javascript:void(0)" onClick="$('#setRating_{{ user.id }}').show();">Изменить</a>{% endif %}
     
  {% if user.rating %}
                        {% if user.rating >= 1 %}
                             <div class="reputational good">Уровень репутации: <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ user.id }}', '', 'История рейтинга ({{ user.name }})');">{{ user.rating }}</a></div>
                        {% else %}
                           <div class="reputational bad">Уровень репутации: <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ user.id }}', '', 'История рейтинга ({{ user.name }})');">{{ user.rating }}</a></div>
                        {% endif %}
                     {% else %}
                           <div class="reputational normal">Уровень репутации: <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ user.id }}', '', 'История рейтинга ({{ user.name }})');">{{ user.rating }}</a></div>
                     {% endif %}
      <div align="center">Уважаемые пользователи если вам приходят сообщения, содержащие рекламу, просьба напишите об этом администрации сайта по средствам личного сообщения. Удачного дня!</div>
      <hr />
     
<div class="active_user">     <h6>Активность пользователя: </h6>
      <hr />
       {% for stat in user.stat %}
                      {% if stat.count %}
                         <a href="{{ stat.url }}">{{ stat.text }} ({{ stat.count }})</a> <hr/> 
                      {% endif %}
                    {% endfor %}
                    </div>
      </div>
      <div class="user_center">
      <table width="100%">
     {% if user.full_name %}  <tr><td>Полное имя:</td><td>{{ user.full_name }}</td></tr>{% endif %}
 <tr><td width="50%">Группа</td>
 <td> {% if checkAccess([module,'edit_users']) %}
 {% if fps_id == user.id %}
<span style="color:{{ user.group_color }}">{{ user.group }}</span>
{% else %}
 <div class="group_edit">
<form id="groupForm_{{ user.id }}">
<select name="group" onchange="document.getElementById('infomess_group_{{ user.id }}').innerHTML = ''">
 {% for group in fps_users_groups %}
 {% if group.id %}
 <option {% if user.status == group.id %} selected {% endif %} value="{{ group.id }}">{{ group.title }}</option>
 {% endif %}
 {% endfor %}
                                                               </select>
                                                                  <input type="button" value="Изменить" onClick="setGroup({{ user.id }}, 'groupForm_{{ user.id }}');" />
                                                                  <div id="infomess_group_{{ user.id }}"></div>
                                                                  </form>
                                                               </div>
                                                      {% endif %}
                                                      {% else %}
                                                          <span style="color:{{ user.group_color }}">{{ user.group }}</span>
                                                      {% endif %}</td></tr>
<tr><td colspan="2"><hr /></td></tr>
<tr><td>Статус:</td><td>{{ getUserRatingText(user.posts) }}</td></tr>
<tr><td colspan="2"><hr /></td></tr>
<tr><td>Предупреждения:</td><td><a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/warnings_story/{{ user.id }}', '', 'История предупреждений ({{ user.name }})');">{{ user.warnings }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% if checkAccess([module,'users_warnings']) %}<a href="javascript:void(0)" onClick="$('#addWarning_{{ user.id }}').show();">-&nbsp;/&nbsp;+</a>{% endif %}</td></tr>
<tr><td colspan="2"><hr /></td></tr>
{% if user.telephone %}
<tr><td>Телефон:</td><td>{{ user.telephone }}</td></tr>
 <tr><td colspan="2"><hr /></td></tr>      
 {% endif %}
{% if user.age %}
<tr><td>День рождения:</td><td> {{ user.bday }}.{{ user.bmonth }}.{{ user.byear }} ( {{ user.age }} )</td></tr>
 <tr><td colspan="2"><hr /></td></tr>      
 {% endif %}
 {% if user.age %}
<tr><td>Возраст:</td><td>{{ user.age }} </td></tr>
 <tr><td colspan="2"><hr /></td></tr>      
 {% endif %}
 {% if user.url %}
<tr><td>WEB - site:</td><td>{{ user.url }} </td></tr>
 <tr><td colspan="2"><hr /></td></tr>      
 {% endif %}
  
<tr><td>Пол:</td><td>{% if user.pol %} {{ user.pol }} {% else %} Не указан {% endif %} </td></tr>
 <tr><td colspan="2"><hr /></td></tr>      
 {% if user.city %}
<tr><td>Уроженец:</td><td>{{ user.city }} </td></tr>
 <tr><td colspan="2"><hr /></td></tr>   
{% endif %} 
    {% if user.icq %}
<tr><td>ICQ: </td><td>{{ user.icq }} </td></tr>
 <tr><td colspan="2"><hr /></td></tr>   
{% endif %} 
{% if user.jabber %}
<tr><td>Jabber: </td><td>{{ user.jabber }}</td></tr>
<tr><td colspan="2"><hr /></td></tr>   
{% endif %}
{% if user.lastpost %}
<tr><td>Последнее сообщение: </td><td>{{ user.lastpost }}</td></tr>
<tr><td colspan="2"><hr /></td></tr>   
{% endif %}                    
{% if user.about %}
<tr><td colspan="2"><b>Немного о пользователи </b>{{ user.about }} </td></tr>
<tr><td colspan="2"><hr /></td></tr>   
{% endif %}

</table>
</div>

</div>
      
      
      
      
      
      
      
    
      </div>
    
<style>
#setRating_{{ user.id }} {}
#addWarning_{{ user.id }} {}
#infomess_{{ user.id }}, #winfomess_{{ user.id }} {margin-top: 5px;text-align: center;}
#ratingForm_{{ user.id }} {}
#warningForm_{{ user.id }} {}
</style>    
<div id="setRating_{{ user.id }}" class="fps-fwin" style="display:none;">
<div class="drag_window">
    <div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Голос для <b>{{ user.name }}</b></div>
    <div onClick="$('#setRating_{{ user.id }}').hide()" class="fps-close"></div>
    <div class="fps-cont">
        <form id="ratingForm_{{ user.id }}">
            <input type="radio" name="points" value="1" /><b>&nbsp;1</b><br />
            <input type="radio" name="points" value="0" /><b>&nbsp;0</b><br />
            <input type="radio" name="points" value="-1" /><b>-1</b><br />
            <textarea name="comment"></textarea><br />
            <input type="button" value="Отправить" onClick="setRating({{ user.id }}, 'ratingForm_{{ user.id }}');" />
        </form>
        <div id="infomess_{{ user.id }}"></div>
    </div>
</div>
</div>
<div id="addWarning_{{ user.id }}" class="fps-fwin" style="display:none;">
    <div class="drag_window">
        <div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Замечание для <b>{{ user.name }}</b></div>
        <div onClick="$('#addWarning_{{ user.id }}').hide()" class="fps-close"></div>
        <div class="fps-cont">
            <form id="warningForm_{{ user.id }}">
                <fieldset>
                    <legend><b>Действие</b></legend>
                    <input type="radio" name="points" value="1">[+]Повысить уровень замечаний<br />
                    <input type="radio" name="points" value="-1">[-]Понизить уровень замечаний(снять бан)<br />
                </fieldset>
                <fieldset>
                    <legend><b>Причина</b></legend>
                    <textarea style="width:96%;" name="cause"></textarea>
                </fieldset>
                <fieldset>
                    <legend><b>Бан</b></legend>
                    <input style="width:50px;margin:2px;" type="text" name="cnt" value="" />
                    <select style="width:80px;margin:2px;" name="mult">
                        <option value="h">Часа</option>
                        <option value="d">Дней</option>
                        <option value="w">Недель</option>
                        <option value="m">Месяцев</option>
                        <option value="y">Лет</option>
                    </select>
                    <br/>
                    <input type="checkbox" name="permanently" value="1" />Навсегда
                </fieldset>
                <fieldset>
                    <legend><b>Уведомление</b></legend>
                    <input type="checkbox" name="noticepm" value="1" />Личные сообщения
                </fieldset>
                <fieldset>
                    <input type="button" value="Отправить" onClick="addWarning_({{ user.id }}, 'warningForm_{{ user.id }}');" />
                </fieldset>
            </form>
            <div id="winfomess_{{ user.id }}"></div>
        </div>
    </div>
