
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
<tbody>
 <tr> <td colspan="2" class="manTdBrief"><h3> Правила сайта </h3></td></tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
  <tr><td colspan="2"> {{ context.rules }}</td></tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>
 <tr><td colspan="2">  <a class="reg_button" href="{{ context.reg_url }}">Я согласен с правилами</a></td></tr>
   </tbody>
</table>



