{{ editor_body }}
{{ script_gentags }}
<script type="text/javascript">
maxAttachedFiles = {{ context.max_attaches }};
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu(this)}; return false">
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
  <tbody>
<tr>
 <tr> <td colspan="2" class="manTdBrief"><h3> Редактирование новости </h3></td></tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
<td width="30%" class="manTd1">Категория: <font color="red">*</font></td>
<td class="manTd2"><select name="cats_selector">{{ context.cats_selector }}</select> </td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Заголовок новости: <font color="red">*</font></td>
<td class="manTd2"><input type="text" size="35" style="width:100%;" name="title" maxlength="128" value="{{ context.title }}"></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td colspan="2" class="manTdBrief">
<div>Описание материала: </div>
<textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
          {% if checkAccess([module,'upload_files']) and context.locked_attaches == 0 %}
          <tr>
            <td width="30%" class="manTd1"><strong>Загрузить изображения:</strong></td>
            <td width="30%" class="manTd1">
                    <div id="attachments">
                    {% if context.attaches_list %}
                        {% for at in context.attaches_list %}
                        <div>
                            <input class="attachField" type="file" id="attach{{ at.id }}" name="attach{{ at.id }}" onchange="getFile({{ at.id }})">
                            <span id="attachMeta{{ at.id }}">
                                {% if at.is_img %}
                                    <input type="text" readonly="" value="{IMAGE{{ at.id }}}" title="Вставьте этот код в любое место сообщения" size="8" style="font-family:monospace;color:#FF8E00;">
                                {% endif %}
                            </span>
                            <label style="vertical-align:top"><input type="checkbox" name="unlink{{ at.id }}" value="1">Удалить ({{ at.name }})?</label>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div>
                        <input class="attachField" type="file" id="attach1" name="attach1" onchange="getFile(1)"><span id="attachMeta1"></span>
                    </div>
                    {% endif %}
                    </div>
                    <input type="button" name="addInput" value="Прикрепить еще файл" onClick="addFileField('attachments');" />
          </td>
           </tr>
           {% endif %}
<tr><td height="10" colspan="2"><hr /></td></tr>

<tr>
<td width="30%" class="manTd1">Meta description:</td>
<td class="manTd2">
<textarea name="description" style="width:100%">{{ context.description }}</textarea>
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Теги:</td>
<td class="manTd2">
<input {{ input_gentags }} size="70" style="width:100%;" type="text" name="tags" value="{{ context.tags }}" />

</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Источник:</td>
<td class="manTd2">
<input size="70" type="text" style="width:100%;" name="sourse" value="{{ context.sourse }}" />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">E-mail автора:</td>
<td class="manTd2">
<input size="70" type="text" style="width:100%;" name="sourse" value="{{ context.sourse_email }}" />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%" class="manTd1">Ссылка на первоисточник:</td>
<td class="manTd2">
<input size="70" type="text" style="width:100%;" name="sourse_site" value="{{ context.sourse_site }}" />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
      {% if checkAccess([module,'record_comments_management']) %}
<tr>
<td width="30%" class="manTd1">Разрешить комментирование?:</td>
<td class="manTd2">
<input type="checkbox" name="commented" value="1" {{ context.commented }} />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
{% endif %}
{% if checkAccess([module,'hide_material']) %}
<tr>
<td width="30%" class="manTd1">Доступен для просмотра:</td>
<td class="manTd2">
<input type="checkbox" name="available" value="1" {{ context.available }} />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
{% endif %}
<tr><td align="center" colspan="2"><input type="submit" name="submitForm" value="Отправить" /></td></tr>

</tbody>
</table>
</form>
