{% if entities %}
{% for entity in entities %}

<div class="post-b">
<div class="post-i"><div><img src="{{ entity.img.url_1 }}" alt="{{ entity.title }}"><a href="{{ entity.entry_url }}"><span></span></a></div></div>
<div class="post-d">
<div class="post-t"><a href="{{ entity.entry_url }}">{{ entity.title }}</a></div>
<div class="post-f">{{ entity.announce }}</div>
</div>
<div class="post-m">
<div class="post-r">{{ entity.moder_panel }}</div>
<div class="post-l">
<span class="m-date" title="Дата">{{ entity.date }}</span>
<span class="m-name" title="Автор"><a href="{{ entity.add_markers.profile_url }}">{{ entity.author.name }}</a></span>
<span class="m-read" title="Просмотры">{{ entity.views }}</span>
<span class="m-comm" title="Комментарии"><a href="{{ entity.add_markers.entry_url }}">{{ entity.comments }}</a></span>
<div class="clr"></div>
</div>
</div>
<div class="clr"></div>
</div>

{% endfor %}
{% else %}
<div class="informs">
Новостей еще не добавлено.
</div>
{% endif %}
