<div id="slider-b" class="no-mar">

<div id="slider" class="flexslider no-js">
<ul class="slides">
<li class="slide"><a href="{{ entity.img.url_1 }}" class="gallery" rel="group"><img src="{{ entity.img.url_1 }}" alt="{{ entity.title }}" class="fpost-img"/></a></li>
<li class="slide"><a href="{{ entity.img.url_2 }}" class="gallery" rel="group"><img src="{{ entity.img.url_2 }}" alt="{{ entity.title }}" class="fpost-img"/></a></li>
<li class="slide"><a href="{{ entity.img.url_3 }}" class="gallery" rel="group"><img src="{{ entity.img.url_3 }}" alt="{{ entity.title }}" class="fpost-img"/></a></li>
<li class="slide"><a href="{{ entity.img.url_4 }}" class="gallery" rel="group"><img src="{{ entity.img.url_4 }}" alt="{{ entity.title }}" class="fpost-img"/></a></li>
<li class="slide"><a href="{{ entity.img.url_5 }}" class="gallery" rel="group"><img src="{{ entity.img.url_5 }}" alt="{{ entity.title }}" class="fpost-img"/></a></li>
</ul>
</div>
 {% if entity.img.url_2 %}
<div id="carousel" class="flexslider">

<ul class="slides">

 <li><img src="{{ entity.img.url_1 }}" alt="{{ entity.title }}"/></li>

 {% if entity.img.url_2 %}
 <li><img src="{{ entity.img.url_2 }}" alt="{{ entity.title }}"/></li>
 {% endif %}
  {% if entity.img.url_3 %}
 <li><img src="{{ entity.img.url_3 }}" alt="{{ entity.title }}"/></li>
 {% endif %}
 {% if entity.img.url_4 %}
 <li><img src="{{ entity.img.url_4 }}" alt="{{ entity.title }}"/></li>
 {% endif %}
  {% if entity.img.url_5 %}
 <li><img src="{{ entity.img.url_5 }}" alt="{{ entity.title }}"/></li>
 {% endif %}
 
 
 
 
 
 
</ul>

</div>
 {% endif %}

<script type="text/javascript">
$(window).load(function() {
$('#carousel').flexslider({
 animation: "slide",
 animationLoop: false,
 slideshow: false,
 
 itemWidth: 228,
 itemMargin: 4,
 asNavFor: '#slider'
});
$("#slider.flexslider").flexslider({
 animation: "slide",
 animationLoop: false,
 directionNav: false,
 slideshow: false,
 sync: "#carousel"
});
});</script>


</div>

<div class="eTitle fpost-ttl">{{ entity.title }}</div>
<div class="eDetails" style="padding:0;">
<div class="post-r">
        {{ entity.moder_panel }}
        </div>
<div class="post-l">

<span class="m-name">Автор: <a href="{{ entity.profile_url }}"> {{ entity.author.name }}</a></span>
<span class="m-date">{{ entity.date }}</span>
<span class="m-read">Просмотры:  {{ entity.views }}</span>
<b>Категория:</b><a href="{{ entity.category_url }}"> {{ entity.category.title }}</a>
<div class="clr"></div>
</div>
<div class="clr"></div>
</div>
<div class="fpost-mss">{{ entity.main_text }} 
</div>
{% if entity.tags %}
<div class="fpost-t"><strong>Метки:</strong> <noindex>
{% for tag in entity.tags %}<a href="{{ www_root }}/news/index/{{ tag }}" rel="nofollow" class="eTag">{{ tag }}</a>, {% endfor %}
</noindex></div>
{% endif %}
<hr />
<div class="clr"></div>
{{ relmat }}