<tr>
    <td>
        <img id="fps_captcha" onclick="this.src='/sys/inc/kcaptcha/kc.php/?'+Math.round(Math.random(0)*1000)" src="{CAPTCHA}" alt="" width="125" height="45" />
    </td>
    <td>
        <input type="text" size="10" name="captcha_keystring" style="padding:4px;font-size:20px;"/>
    </td>
</tr>