{{ editor_body }}
<table border="0" width="100%" cellspacing="1" cellpadding="2" class="manTable" id="nwM16">
  <tbody>

 <form method="POST" id="sendForm" name="sendForm" action="{{ form.action }}" onsubmit="sendu(this);return false;">
 <tr> <td colspan="2" class="manTdBrief"><h3> Редактирование комментария </h3></td></tr>
 <tr><td height="10" colspan="2"><hr /></td></tr>
 {% if atm_user.id == 0 %}
<tr>
<td width="30%" class="manTd1">Псевдоним: <font color="red">*</font></td>
<td class="manTd2"><input {{ form.disabled }} type="text" name="login" value="{{ form.name }}" style="width:100%" /> </td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
{% endif %}

<tr>
<td colspan="2" class="manTdBrief">

            <textarea {{ editor_text }} name="message">{{ form.message }}</textarea>
</td>
</tr>
<tr><td align="center" colspan="2"> <input type="submit" name="send" value="Сохранить" /></td></tr>
 </form>
  </tbody>
  </table>