{% if entities %}
{% for entity in entities %}
<div class="material">
          <div class="mat-title"><a href="{{ entity.add_markers.entry_url }}"><h3>{{ entity.title }}</h3></a><div class="mod-panel">{{ entity.add_markers.moder_panel }}</div></div>
          <div class="mat-content">
            <div class="topinfo">
                <span class="left">Раздел: <a href="{{ entity.add_markers.category_url }}">{{ entity.category.title }}</a></span>
                <span>Просмотров: {{ entity.views }}</span>
                <span>Комментарии: {{ entity.comments }}</span>
                <span class="right">Автор: <a href="{{ entity.add_markers.profile_url }}">{{ entity.author.name }}</a></span>
            </div>
            <div class="announce">{{ entity.add_markers.announce }}</div>
            <div class="footerinfo">
               Добавлено: {{ entity.date }}
           </div>
         </div>
</div>
{% endfor %}
{% else %}
<div class="informs">
Материалов еще не добавлено.
</div>
{% endif %}
