 <form action="{{ context.action }}" method="POST">
<div class="material">
       <h3>Поиск по материалам</h3>
       <div class="infcont">
            <input type="text" value="{{ context.search }}" name="search" style="width:82%;" />
            <input  type="submit" value="Искать" name="send" />
            <br /><br />
       <b>Искать в:</b>
            
            <input id="smdforum" type="checkbox" value="forum" name="m[]" {{ context.forum }}>
            <label for="smdforum">Форум</label>

            <input id="smdnews" type="checkbox" value="news" name="m[]" {{ context.news }}>
            <label for="smdnews">Новости</label>

            <input id="smdstat" type="checkbox" value="stat" name="m[]" {{ context.stat }}>
            <label for="smdstat">Статьи</label>

            <input id="smdloads" type="checkbox" value="loads" name="m[]" {{ context.loads }}>
            <label for="smdloads">Загрузки</label>
       </div>
</div>
</form>

