



{% if commentsr %}
<div class="comm-pg"></div>
<h3>Комментарии</h3>
<hr>

<div class="comm-lst">
 {% for comment in commentsr %}
<div style="padding-left: {{ comment.lvl * 5 }}%">
<div class="comm-i comm-odd">
<div class="comm-t">
<div class="comm-l">
<div class="comm-r">
<div class="comm-b">
<div class="comm-ava">{{ comment.avatar }}</div>
<div class="comm-top">
<div style="float:right;font-size:11px;font-family:Arial,sans-serif;"> {% if comment.entry_url %}<a href="{{ comment.entry_url }}" class="button2">Перейти к материалу...</a>{% endif %}</div>
<div class="comm-usr"><b>{{ comment.name_a }}</b></div>
<div class="comm-dt"> {% if comment.editdate %}<span><b>Комментарий был изменён:</b> {{ comment.editdate }}</span>{% endif %}<span><b>Дата отправления:</b> {{ comment.date }}</span> {% if config(['comments_tree']) %}<a onClick="replyComment(this, {{ comment.id }}, '{{ comment.name }}');">Ответить</a>{% endif %}<div style="float:right">{{ comment.moder_panel }}</div></div>
</div>
<div class="comm-txt">
<div class="comm-msg">{{ comment.message }}
</div>

  
  
</div> 
</div>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
{% endif %}