{{ editor_body }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu(this)}; return false">
<table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
     Coздание новой темы
          </td>
        </tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>
 <tr>
   <td width="30%">Название темы:</td>
     <td><input type="text" name="theme" maxlength="55" value="{{ context.theme }}" style="width:100%"/></td>
   </tr>
      <tr><td height="10" colspan="2"><hr /></td></tr>
 <tr>
   <td width="30%">Описание:</td>
     <td><input type="text" name="description" maxlength="128" value="{{ context.description }}" style="width:100%" /></td>
   </tr>
       <tr><td height="10" colspan="2"><hr /></td></tr>
<tr><td colspan="2"><textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></td></tr>
 {% if fps_admin_access == 1 %} 
 <tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%">Закрыть доступ к теме</td>
<td>    
     {% for group in fps_users_groups %}
     <label><input type="checkbox" {% for curr in context.gr_access %} {% if curr == group.id %} checked="checked" {% endif %} {% endfor %} value="{{ group.id }}" name="gr_access_{{ group.id }}" /> {{ group.title }}</label><br />
     {% endfor %}
</td>
</tr>
{% endif %}
  {% if checkAccess(['forum','upload_files']) %}
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%">Прикрепить файлы</td>
<td id="attachments"><input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span>
<input type="button" name="addInput" value="Прикрепить еще файл" onClick="addFileField('attachments');" /></td>
</tr>
{% endif %}
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%">Настройки для опроса <p style="font-size:10px;">если не нужно оставьте пустым</p></td>
<td>
Вопрос:
<p><input type="text" name="poll_question" value="{{ context.poll_question }}" style="width:100%" /></p>
Варианты ответа: <span style="font-size:10px;">Каждый новый ответ с новой строки</span>
<p><textarea name="poll_ansvers" style="width:100%">{{ context.poll_ansvers }}</textarea></p>
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%">Закрепить первое сообщение темы:</td>
<td><input type="checkbox" name="first_top"{% if context.first_top %} checked="checked"{% endif %}  /></td>
</tr>
{% if checkAccess([module,'close_themes']) %}
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%">Закрыть тему(Запретить отвечать на тему):</td>
<td><input type="checkbox" name="locked"{% if context.locked %} checked="checked"{% endif %} /></td>
</tr>
{% endif %}
 <tr><td height="10" colspan="2"><hr /></td></tr>
<tr><td align="center" colspan="2"> <input class="subm" type="submit" name="submitForm" value="Создать тему" /></td></tr>

</tbody>
</table>
</form>
