{% if forum_cats %}
{% for category in forum_cats %}

<div class="gDivLeft"><div class="gDivRight">
<table border="0" width="100%" bgcolor="#FFFFFF" cellspacing="1" cellpadding="0" class="gTable"><tr><td class="gTableTop" colspan="5">
<div style="float:right" class="gTopCornerRight"></div>{{ category.title }}</td></tr>
<tr><td width="5%" class="gTableSubTop">&nbsp;</td><td class="gTableSubTop">Форум</td><td width="8%" class="gTableSubTop" align="center">Темы</td><td width="8%" class="gTableSubTop" align="center">Ответы</td><td width="30%" class="gTableSubTop">Обновления</td></tr>
      {% if category.forums %}
      {% for forum in category.forums %}
      
<tr id="{{ category.id }}">
<td class="forumIcoTd" align="center"><img class="iconline" src="{{ forum.icon_url }}" alt=""/></td>
<td class="forumNameTd">
{% if forum.admin_bar %}<div style="float:right">{{ forum.admin_bar }}</div>{% endif %}
<a class="forum" href="{{ forum.forum_url }}">{{ forum.title }}</a>     
 <div class="forumDescr">{{ forum.description }}</div>
   {% if forum.subforums %}
              <ul class="subforums">
            {% for subforum in forum.subforums %}
                <li><a href="{{ www_root }}/forum/view_forum/{{ subforum.id }}">{{ subforum.title }}</a>{% if subforum.description %}({{ subforum.description }}){% endif %}<b>;</b></li>
            {% endfor %}
              </ul>
           {% endif %}
 </td>
<td class="forumThreadTd" align="center">{{ forum.themes }}</td>
<td class="forumPostTd" align="center">{{ forum.posts }}</td>
<td class="forumLastPostTd">
{{ forum.last_post }}
</td>
</tr>
 {% endfor %}
      {% endif %}

</table></div></div>
<div class="gDivBottomLeft"></div><div class="gDivBottomCenter"></div><div class="gDivBottomRight"></div>

{% endfor %}
{% else %}
<div class="informs">Не создано ни одного раздела.</div>
{% endif %}