<div class="gDivLeft">
  <div class="gDivRight">
<form name='editThemeForm' id="editThemeForm" action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
          Редактирование темы
          </td>
        </tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Местонахождение темы:</td>
     <td><select name="id_forum" style="width:100%">{{ context.options }}</select></td>
   </tr>
    <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Название темы:</td>
     <td><input type="text" name="theme" maxlength="55" value="{{ context.theme }}" style="width:100%"/></td>
   </tr>
      <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Описание темы:</td>
     <td><input type="text" name="description" maxlength="128" value="{{ context.description }}" style="width:100%" /></td>
   </tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Автор темы:</td>
     <td><input type="text" name="author" value="{{ context.author }}" disabled /></td>
   </tr>
          {% if fps_admin_access == 1 %}
        <tr><td height="10" colspan="2"><hr /></td></tr>
      <tr>
   <td width="30%">Закрыть доступ:</td>
     <td>{% for group in fps_users_groups %}
              <label><input type="checkbox" {% for curr in context.gr_access %} {% if curr == group.id %} checked="checked" {% endif %} {% endfor %} value="{{ group.id }}" name="gr_access_{{ group.id }}" />{{ group.title }}</label>
           {% endfor %}</td>
   </tr>
    {% endif %}
      <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Закрепить первое сообщение темы:</td>
     <td><input type="checkbox" name="first_top" {% if context.first_top %} checked="checked" {% endif %} /></td>
   </tr>
  {% if checkAccess([module,'close_themes']) %}   
   <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Закрыть тему:</td>
     <td><input type="checkbox" name="locked" {% if context.locked %} checked="checked" {% endif %} /></td>
   </tr>
    {% else %}
        <input type="hidden" name="locked" value="{{ context.locked }}"/>
     {% endif %}
     <tr><td height="10" colspan="2"><hr /></td></tr>
     <tr><td align="center" colspan="2">    <input type="submit" name="sendForm" value="Сохранить" /> </td></tr>
          
        </tbody>
        </table>
</form>
</div></div>