{{ editor_body }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu(this)}; return false">
<table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
        Редактирование сообщения
          </td>
        </tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr><td colspan="2"><textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></td></tr>
   {% if checkAccess([module,'edit_posts']) %}
   <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Добавить строку "Отредактировано":</td>
     <td> <input type="checkbox" name="add_editor"{% if context.add_editor %}checked="checked"{% endif %}/></td>
   </tr>
 {% endif %}
 {% if checkAccess(['forum','upload_files']) %}
    <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Прикрепленные файлы:</td>
     <td><div id="attachments"><br/>
                            <input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" />{{ context.unlinkfiles.att1 }}<span id="attachMeta1"></span><br />
                            <input class="attachField" type="file" id="attach2" name="attach2"  onChange="getFile(2)" />{{ context.unlinkfiles.att2 }}<span id="attachMeta2"></span><br />
                            <input class="attachField" type="file" id="attach3" name="attach3"  onChange="getFile(3)" />{{ context.unlinkfiles.att3 }}<span id="attachMeta3"></span><br />
                            <input class="attachField" type="file" id="attach4" name="attach4"  onChange="getFile(4)" />{{ context.unlinkfiles.att4 }}<span id="attachMeta4"></span><br />
                            <input class="attachField" type="file" id="attach5" name="attach5"  onChange="getFile(5)" />{{ context.unlinkfiles.att5 }}<span id="attachMeta5"></span><br />
            </div></td>
   </tr>
{% endif %}    

 <tr><td height="10" colspan="2"><hr /></td></tr>
<tr><td align="center" colspan="2"><input type="submit" name="submitForm" value="Отправить" /></td></tr>
</tbody>
</table>
</form>
