<form name="addForumForm" id="editForumForm" action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
          Редактирование форума
          </td>
        </tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Название форума:</td>
     <td><input type="text" name="title" value="{{ context.title }}" maxlength="120" style="width:100%" /></td>
   </tr>
      <tr><td height="10" colspan="2"><hr /></td></tr>
   <tr>
   <td width="30%">Описание форума:</td>
     <td><textarea name="description" maxlength="250" style="width:100%;height:50px;">{{ context.description }}</textarea></td>
   </tr>
    <tr><td height="10" colspan="2"><hr /></td></tr>
     <tr><td align="center" colspan="2"><input type="submit" name="sendForm" value="Сохранить" /></td></tr>
 </tbody>
</table>
</form>