<!doctype html>
<html>
<head>
<title>Вход на форум</title>
<link rel="icon" href="{{ www_root }}/sys/img/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{ www_root }}/sys/img/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />
 </head>
<body class="page-body">

<table border="0" cellpadding="0" cellspacing="0" width="98%" id="casing" class="popuptable">
<tr><td><div class="popuptitle">Этот форум закрыт на пароль</div><div class="popupbody"><div align="center">
<form method="POST" action="">
        <br /><input type="text" name="forum_lock_pass" /><br /><br />
        <input type="submit" name="send" value="Отправить">
    </form>
</div></div></td></tr>
</table>

</body>
</html>