
<div class="get_stat">
<div class="gDivLeft">
  <div class="gDivRight">
    <table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
           Статистика форума
          </td>
        </tr>
        <tr><td colspan="2" class="gTableSubTop"> Посетители: <b>{{ all_online }}</b> (участников - <b>{{ users_online }}</b>, гостей -  <b>{{ guests_online }}</b>)
          </td>
        </tr>
        <tr>
          <td width="7%" align="center" class="gTableRight" style="padding:7px;">
            <img alt="" style="margin:0;padding:0;border:0;" title="Посетители" src="http://s80.ucoz.net/img/fr/ic/4/online.gif">
          </td>
          <td class="gTableBody1" style="padding:10px;">
            <div class="statsRecord">
              Рекорд посещаемости форума <b>{{ max_online_all_time }}</b> зафиксирован {{ max_online_all_time_date }}
            </div>
        {{ online_users_list }}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="gTableSubTop">Статистика форума</td>
        </tr>
        <tr>
          <td align="center" class="gTableRight" style="padding:7px;">
            <img alt="" style="margin:0;padding:0;border:0;" title="Статистика форума" src="http://s80.ucoz.net/img/fr/ic/4/stats.gif">
          </td>
          <td class="gTableBody1" style="padding:10px;">Всего создано <b>{{ count_themes }}</b> тем, в которые добавлено <b>{{ count_posts }}</b>ответов.<br>
            Зарегистрировано <b>{{ count_users }}</b>участников. Приветствуем нового участника <b>{{ new_user }}</b>.
          </td>
        </tr>
            {% if today_born_users %}
        <tr>
          <td colspan="2" class="gTableSubTop">Поздравляем с Днем Рождения!</td>
        </tr>
    
        <tr>
          <td align="center" class="gTableRight" style="padding:7px;">
            <img alt="" style="margin:0;padding:0;border:0;" title="Поздравляем с Днем Рождения!" src="http://s80.ucoz.net/img/fr/ic/4/birthday.gif">
          </td>
          <td class="gTableBody1" style="padding:10px;">
           {{ today_born_users }}
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div></div>