

    <div class="gDivLeft"><div class="gDivRight">
<table border="0" width="100%" bgcolor="#FFFFFF" cellspacing="1" cellpadding="0" class="gTable">
<tr><td class="gTableTop" colspan="6"><div style="float:right" class="gTopCornerRight"></div>{{ context.forum_name }}</td></tr>
<tr><td width="5%" class="gTableSubTop">&nbsp;</td>
<td class="gTableSubTop">{{ getOrderLink(['title','Тема']) }}</td>
<td width="8%" class="gTableSubTop" align="center">{{ getOrderLink(['posts','Ответы']) }}</td>
<td width="8%" class="gTableSubTop" align="center">{{ getOrderLink(['views','Просмотры']) }}</td>
<td class="gTableSubTop" align="center">Автор</td>
<td width="20%" class="gTableSubTop">{{ getOrderLink(['last_post','Обновления']) }}</td></tr>
    {% if themes %}

    

      {% for theme in themes %}  
     <tr id="{{ theme.fps_css_class }}">
<td class="forumIcoTd" align="center">{{ theme.themeicon }}</td>
<td class="forumNameTd">
{% if theme.adminbar %}<div style="float:right">{{ theme.adminbar }}</div>{% endif %}
<a class="forum" href="{{ theme.theme_url }}"> {{ theme.importantly }} {{ theme.title }}</a>     {{ theme.near_pages }}
 <div class="forumDescr">{{ theme.description }}</div>
   
 </td>
<td class="forumThreadTd" align="center">{{ theme.posts }}</td>
<td class="forumPostTd" align="center">{{ theme.views }}</td>
<td class="forumPostTd" align="center">{{ theme.author.name }}</td>
<td class="forumLastPostTd">
{{ theme.last_post }}<br />Сообщение от: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_page }}
</td>
</tr>
{% endfor %}
 {% else %}
<td colspan="6" class="error_theme">Тем еще не создано.</td>
{% endif %}

<tr>

   <td class="threadsDetails" colspan="7" style="padding-top:10px;">
     {{ pagination }}
 </td>
</tr>


         </table></div></div>
<div class="gDivBottomLeft"></div><div class="gDivBottomCenter"></div><div class="gDivBottomRight"></div>