<form name='editThemeForm' id="movePostsForm" action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">

<table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
 Перемещение сообщений: {{ theme.title }}
          </td>
        </tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>

<tr>
<td width="30%">Идентификатор темы: <div style="font-size:10px;">Порядковый номер темы в которую вы хотите переместить сообщения, узнать его можно из адреса страницы темы. Этот номер находится в конце адреса, после <b>view_theme/</b></div></td>
<td><input type="text" name="theme" maxlength="55" value="{{ context.theme }}" /></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>


{% for post in posts %}
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr id="post{{ post.id }}">
<td>{{ post.author_name }} <br /> Отправлено: {{ post.time }}</td>
<td>{{ post.message }} <div style="float:right"><input type="checkbox" {% for curr in context.posts_select %} {% if curr == post.id %} checked="checked" {% endif %} {% endfor %} value="{{ post.id }}" name="post_{{ post.id }}" /></label></div></td>

</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
{% endfor %}
<tr><td colspan="2" align="center"> <input type="submit" name="sendForm" value="Переместить выделенные сообщения" /> <div style="font-size:10px;">Сообщения будут распределены относительно даты их создания</div></td></tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
</tbody>
</table>


<div class="mezdyblock">
         <div class="paginator">
            <div class="pages">{{ pagination }}</div>
         </div>
</div>
</form>
