   
    <table width="100%">
    <tr><td width="50%">{{ navigation }}</td><td align="right"> {% if add_link %}
        <a href="{{ www_root }}/forum/view_theme/{{ theme.id }}#sendForm" class="newtembutton button">Ответить</a>
    {% endif %}
    {% if closed_theme %}
        <a style="background-position: top;cursor: default;" class="newtembutton button">Тема закрыта</a>
    {% endif %}</td></tr>
    </table>
    <span class="meta"> </span>
    <div class="paginator">
       <div class="pages">{{ pagination }}</div>
    </div>
    
    <div class="forumblock">
      <div class="forumtitle"><h1></h1></div>
    
    <div class="gDivLeft"><div class="gDivRight">
        <table class="gTable" border="0" width="100%" cellspacing="1" cellpadding="0">
        <tr><td class="gTableTop"><div style="float:right" class="gTopCornerRight"></div> <div id="moder_panle">{{ admin_bar }}</div>{{ theme.title }}</td></tr>
<tr><td colspan="2">  
      {% if theme.poll %}
          {{ theme.poll }}
     
      {% endif %}
</td></tr>    

    {% for post in posts %}
        

        
        <tr id="post{{ post.post_number }}"><td class="postFirst"><table border="0" width="100%" cellspacing="1" cellpadding="2" class="postTable">
<tr><td width="23%" class="postTdTop" align="center">
  <a class="postusername" href="javascript://" {{ editor_forum_name }}>{{ post.author.name }}</a>
</td><td class="postTdTop">Дата: {{ post.time }} | Сообщение # <a class="postidlink"href="javascript://" onClick="prompt('Ссылка к сообщению','{{ post.post_number_url }}');return false;">#{{ post.post_number }}</a></td></tr>
<tr><td class="postTdInfo" valign="top">
<img title="{{ post.author.name }}" src="{{ post.author.avatar }}" alt=""/>
<div class="postRankName">{{ post.author.rank }}</div>


<div class="postUserGroup">Группа:{{ post.author.status_title }}</div>
<div class="numposts">Сообщений:  {{ post.author.posts }}</div>
<div class="reputation">Репутация: <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ post.author.id }}', '', 'История рейтинга ({{ post.author.name }})');">{{ post.author.rating }}</a>
{% if checkAccess(['users','set_rating']) %} <a href="javascript:void(0)" onClick="$('#setRating_{{ post.author.id }}').show();">-&nbsp;/&nbsp;+</a>    {% endif %}
</div>

<div class="warning">Предупреждения: <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/warnings_story/{{ post.author.id }}', '', 'История предупреждений ({{ post.author.name }})');"> {{ post.author.warnings }}</a>
&nbsp &nbsp {% if checkAccess(['users','users_warnings']) %} <a href="javascript:void(0)" onClick="$('#addWarning_{{ post.author.id }}').show();">+</a>{% endif %}
</div>

<div class="statusBlock">Статус: {% if checkUserOnline(post.author.id) %}<span class="statusOnline">Online</span>{% else %}<span class="statusOffline">Offline</span>{% endif %}</div>
 
</td><td class="posttdMessage" valign="top">
{{ post.message }}
{% if post.attachment %}
<div align="left" class="eAttach">Прикрепления: {% if checkAccess(['forum','download_files']) %}{{ post.attachment }}{% else %}У вас нет прав для скачивания прикрепленных файлов{% endif %}</div>
{% endif %}
{% if  post.editor_info %} <br><br><div class="edited"><div class="editRU">{{ post.editor_info }}<div></div> {% endif %}
</td></tr>
<tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr><td>
{% if post.id_author != 0 %}
<a class="butEdit" href="{{ www_root }}/users/info/{{ post.id_author }}">Профиль</a> 
{% endif %}


  </td><td align="right" style="padding-right:15px;">
 {% if atm_user.id == post.id_author %}
 {% else %}
 <a href="{{ www_root }}/users/send_pm_form/{{ post.id_author }}" class="butEdit">ЛС</a>
<a href="{{ www_root }}/users/send_mail_form/{{ post.id_author }}" class="butEdit">Mail</a>
{% endif %}    
 {% if post.edit_link %}<a href="{{ www_root }}/forum/edit_post_form/{{ post.id }}" class="butEdit">Изменить</a> {% else %} <a class="butEdit" href="javascript://"><span {{ editor_forum_quote }}>Цитата</span></a> {% endif %}
 {% if post.delete_link %}<a onclick="if (confirm('Удалить сообщение №{{ post.post_number }} ?')) {$(this).attr({href: '{{ www_root }}/forum/delete_post/{{ post.id }}'});sendu(this); return false}" class="butEdit">Удалить</a>{% endif %}
</td></tr>
</table></td></tr></table>
</td></tr><tr><td class="postSeparator"></td></tr>

<div id="setRating_{{ post.author.id }}" class="fps-fwin" style="display:none;">
            <div class="drag_window">
                <div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Изменения уровня репутации {{ post.author.name }} </div>
                <div onClick="$('#setRating_{{ post.author.id }}').hide()" class="fps-close"></div>
                <div class="fps-cont">
                
                    <form id="ratingForm_{{ post.author.id }}">
                    <fieldset><legend>Действие: </legend>
                        <input type="radio" name="points" value="1" />Повысить уровень репутации на 1<br />
                        <input type="radio" name="points" value="0" />Оставить уровень репутации без изменения<br />
                        <input type="radio" name="points" value="-1" />Понизить уровень репутации на 1<br />
                        </fieldset>
                        
                        <fieldset><legend>Причина изменения: </legend>
                        <textarea class="reson_rating" name="comment"></textarea><br />
                        </fieldset>
                        
                        <input type="button" value="Изменить" onClick="setRating({{ post.author.id }}, 'ratingForm_{{ post.author.id }}');" />
                    </form>
                    <div id="infomess_{{ post.author.id }}"></div>
                </div>
            </div>
            </div>


            <div id="addWarning_{{ post.author.id }}" class="fps-fwin" style="display:none;">
            <div class="drag_window">
                <div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Замечание для <b>{{ post.author.name }}</b></div>
                <div onClick="$('#addWarning_{{ post.author.id }}').hide()" class="fps-close"></div>
                <div class="fps-cont">
                    <form id="warningForm_{{ post.author.id }}">
                        <fieldset>
                            <legend><b>Действие</b></legend>
                            <input type="radio" name="points" value="1">[+]Повысить уровень замечаний<br />
                            <input type="radio" name="points" value="-1">[-]Понизить уровень замечаний(снять бан)<br />
                        </fieldset>
                        <fieldset>
                            <legend><b>Причина</b></legend>
                            <textarea style="width:96%;" name="cause"></textarea>
                        </fieldset>
                        <fieldset>
                            <legend><b>Бан</b></legend>
                            <input style="width:50px;margin:2px;" type="text" name="cnt" value="" />
                            <select style="width:80px;margin:2px;" name="mult">
                                <option value="h">Часа</option>
                                <option value="d">Дней</option>
                                <option value="w">Недель</option>
                                <option value="m">Месяцев</option>
                                <option value="y">Лет</option>
                            </select>
                            <br/>
                            <input type="checkbox" name="permanently" value="1" />Навсегда
                        </fieldset>
                        <fieldset>
                            <legend><b>Уведомление</b></legend>
                            <input type="checkbox" name="noticepm" value="1" />Личные сообщения
                        </fieldset>
                        <fieldset>
                            <input type="button" value="Отправить" onClick="addWarning_({{ post.author.id }}, 'warningForm_{{ post.author.id }}');" />
                        </fieldset>
                    </form>
                    <div id="winfomess_{{ post.author.id }}"></div>
                </div>
            </div>
            </div>
            {% endfor %}
        </table></div></div>
    </div>
    <table width="100%">
    <tr><td width="50%">{{ pagination }}</td></tr>
    </table>

    
    {{ reply_form }}