{{ editor_body }}
<div class="gDivLeft">
  <div class="gDivRight">
     <form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu(this)}; return false">
   <table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
          Форма для ответа
          </td>
        </tr>
        <tr>
          <td colspan="2">
 <div class="answertextarea"><textarea {{ editor_forum_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></div>
 
     
          </td>
          </tr>
             <tr><td height="10" colspan="2"><hr /></td></tr>
          <tr><td width="50%"><div class="reply"><div id="attachments">Прикрепить файлы:
<input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span>
<input type="button" name="addInput" value="Добавить еще файл" onClick="addFileField('attachments');" />
              
            </div>
            </div></td>
            <td align="right"><input class="reply_input animation" type="submit" name="submitForm" value="Ответить" /></td>
            </tr>
           <tr><td height="10" colspan="2"><hr /></td></tr>
        
        
        </tbody>
        </table>
         </form>
        </div>
        </div>

