<form name='editThemeForm' action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
   Разделение темы: {{ theme.title }}
          </td>
        </tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>

<tr>
<td width="30%">Форум новой темы:</td>
<td><select name="id_forum"> {{ context.options }}</select></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr>
<td width="30%">Название новой темы:</td>
<td><input type="text" name="theme" maxlength="55" value="{{ context.theme }}" style="width:100%"/></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>

<tr>
<td width="30%">Описание новой темы:</td>
<td><input type="text" name="description" maxlength="128" value="{{ context.description }}" style="width:100%"/></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>

<tr>
<td width="30%">Закрыть доступ:</td>
<td>
{% for group in fps_users_groups %}
<label><input type="checkbox" {% for curr in context.gr_access %} {% if curr == group.id %} checked="checked" {% endif %} {% endfor %} value="{{ group.id }}" name="gr_access_{{ group.id }}" />&nbsp;{{ group.title }}</label>
{% endfor %}</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>

<tr>
<td width="30%">Закрепить первое сообщение темы:</td>
<td>

<input type="checkbox" name="first_top" {% if context.first_top %} checked="checked" {% endif %} />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
      {% if checkAccess([module,'close_themes']) %}
<tr>
<td width="30%">Закрыть тему:</td>
<td>
<input type="checkbox" name="locked" {% if context.locked %} checked="checked" {% endif %} />
</td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
      {% endif %}
      
<tr><td colspan="2">
<input type="submit" name="sendForm" value="Разделить" />
<br />Будет создана новая тема с выделенными сообщениями. </td></tr>


{% for post in posts %}
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr id="post{{ post.id }}">
<td>{{ post.author_name }} <br /> Отправлено: {{ post.time }}</td>
<td>{{ post.message }} <div style="float:right"><input type="checkbox" {% for curr in context.posts_select %} {% if curr == post.id %} checked="checked" {% endif %} {% endfor %} value="{{ post.id }}" name="post_{{ post.id }}" /></label></div></td>

</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
{% endfor %}
</tbody>
</table>

<div class="mezdyblock">
         <div class="paginator">
            <div class="pages">{{ pagination }}</div>
         </div>
</div>
</form>
