{% if forum.subforums %}

<div class="gDivLeft"><div class="gDivRight">
<table border="0" width="100%" bgcolor="#FFFFFF" cellspacing="1" cellpadding="0" class="gTable">
<tr><td class="gTableTop" colspan="5"><div style="float:right" class="gTopCornerRight"></div>{{ forum.cat_name }}</td></tr>
<tr><td width="5%" class="gTableSubTop">&nbsp;</td>
<td class="gTableSubTop">{{ getOrderLink(['title','Тема']) }}</td>
<td width="8%" class="gTableSubTop" align="center">Темы</td>
<td width="8%" class="gTableSubTop" align="center">Ответы</td>
<td width="20%" class="gTableSubTop">{{ getOrderLink(['last_post','Обновления']) }}</td></tr>
  {% if forum.subforums %}
      {% for subforum in forum.subforums %}
<tr>
<td class="forumIcoTd" align="center"><span><img class="iconline" src="{{ subforum.icon_url }}" alt=""/></span></td>
<td class="forumNameTd">
{% if subforum.admin_bar %}<div style="float:right">{{ subforum.admin_bar }}</div>{% endif %}
<a class="forum" href="{{ subforum.forum_url }}"> {{ subforum.title }}</a> 

 <div class="forumDescr">{{ subforum.description }}</div>
</td>
<td class="forumThreadTd" align="center">{{ subforum.themes }}</td>
<td class="forumThreadTd" align="center">{{ subforum.posts }}</td>
<td class="forumThreadTd">{{ subforum.last_post }}</td>

</tr>
      {% endfor %}
      {% endif %}

</table>
</div></div>
      <div class="linehead"><div class="forheadpost"></div></div>
    
      <div class="linecontent">
        <div class="forstatus"></div><div class="forname"><div class="mozilacostil">
            <div class="moderline"></div>
            <div class="lineinfo"><a class="namefor" href=""><h3></h3></a>
            <div class="fordescription"></div>
        </div>
        </div></div><div class="forteme">
        {% if subforum.themes %}
        <ul>
            <li>Тем: <strong></strong></li>
            <li>Ответов: <strong></strong></li>
        </ul>
        {% endif %}
        </div><div class="fornewmess"></div>
      </div>


{% endif %}

<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
     <td class="forumNamesBar" style="padding-top:3px;padding-bottom:5px;">
      {{ pagination }}
      </td>
      <td style="padding-top:3px;padding-bottom:5px;" align="right">
    {% if add_link %}
    <a href="{{ www_root }}/forum/add_theme_form/{{ forum.id }}" class="newtembutton button">Новая тема</a>
    {% else %}
    Вам запрещено создавать темы
    {% endif %}
      </td>
     
    </tr>
  </tbody>
</table>


    
    <div class="gDivLeft"><div class="gDivRight">
<table border="0" width="100%" bgcolor="#FFFFFF" cellspacing="1" cellpadding="0" class="gTable">
<tr><td class="gTableTop" colspan="6"><div style="float:right" class="gTopCornerRight"></div>{{ forum.title }}</td></tr>
<tr><td width="5%" class="gTableSubTop">&nbsp;</td>
<td class="gTableSubTop">{{ getOrderLink(['title','Тема']) }}</td>
<td width="8%" class="gTableSubTop" align="center">{{ getOrderLink(['posts','Ответы']) }}</td>
<td width="8%" class="gTableSubTop" align="center">{{ getOrderLink(['views','Просмотры']) }}</td>
<td class="gTableSubTop" align="center">Автор</td>
<td width="20%" class="gTableSubTop">{{ getOrderLink(['last_post','Обновления']) }}</td></tr>
    {% if themes %}

    

      {% for theme in themes %}  
     <tr id="{{ theme.fps_css_class }}">
<td class="forumIcoTd" align="center">{{ theme.themeicon }}</td>
<td class="forumNameTd">
{% if theme.adminbar %}<div style="float:right">{{ theme.adminbar }}</div>{% endif %}
<a class="forum" href="{{ theme.theme_url }}"> {{ theme.importantly }} {{ theme.title }}</a>     {{ theme.near_pages }}
 <div class="forumDescr">{{ theme.description }}</div>
   
 </td>
<td class="forumThreadTd" align="center">{{ theme.posts }}</td>
<td class="forumPostTd" align="center">{{ theme.views }}</td>
<td class="forumPostTd" align="center">{{ theme.author.name }}</td>
<td class="forumLastPostTd">
{{ theme.last_post }}<br />Сообщение от: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_page }}
</td>
</tr>
{% endfor %}
 {% else %}
<td colspan="6" class="error_theme">Тем еще не создано.</td>
{% endif %}

<tr>
  <td class="threadsDetails" colspan="5" style="padding-top:10px;">
В этом форуме <b>{{ forum.themes }}</b> тем. На странице показано <b>{{ forum.count_themes_here }}</b> тем.
 </td>
   <td class="threadsDetails" colspan="2" style="padding-top:10px;">
     {{ pagination }}
 </td>
</tr>
<tr>
  <td class="threadsDetails" colspan="7">
Форум просматривают: {{ forum.who_is_here }}
 </td>
</tr>
<tr>

</tr>

         </table></div></div>
<div class="gDivBottomLeft"></div><div class="gDivBottomCenter"></div><div class="gDivBottomRight"></div>
<table border="0" cellpadding="1" cellspacing="0" class="legendTable">
  <tbody>
    <tr>
      <td class="legendTd">
        <img src="{{ template_path }}/img/folder_new.gif" alt=""/>
        Непрочитанные сообщения
      </td>
      <td rowspan="5">   </td>
      <td class="legendTd">
        <img src="{{ template_path }}/img/folder.gif" alt=""/>
         Нет непрочитанных сообщений
      </td>
    </tr>

    <tr>
      <td class="legendTd">
        <img src="{{ template_path }}/img/folder_lock.gif" alt=""/>
       Закрытая тема
      </td>
      <td class="legendTd">
      <img src="{{ template_path }}/img/folder_lock_new.gif" alt=""/>
      Закрытая тема с новыми сообщениями
      </td>
    </tr>
    <tr>
      <td class="legendTd">
       <img src="{{ template_path }}/img/folder_hot.gif" alt=""/>
       Горячая тема
      </td>
      <td class="legendTd">
      <img src="{{ template_path }}/img/folder_hot_new.gif" alt=""/>
       Горячая тема с новыми сообщениями
      </td>
    </tr>
  
  </tbody>
</table>
  