<form name='editThemeForm' action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable">
      <tbody>
        <tr>
          <td colspan="2" class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
   Соединение тем: {{ theme.title }}
          </td>
        </tr>
   <tr><td height="10" colspan="2"><hr /></td></tr>

<tr>
<td width="30%">Идентификатор темы: <div style="font-size:10px;">Порядковый номер темы в которую вы хотите переместить сообщения, узнать его можно из адреса страницы темы. Этот номер находится в конце адреса, после <b>view_theme/</b></div></td>
<td> <input type="text" name="theme" maxlength="55" value="{{ context.theme }}" /></td>
</tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
<tr><td colspan="2" align="center"> 
    <input type="submit" name="sendForm" value="Соединить темы" />
    <div style="font-size:10px;">    <br />Сообщения будут распределены относительно даты их создания.
            <br />Название темы и местоположение будет взято у темы <b>в которую</b> перемещают.</div></td></tr>
<tr><td height="10" colspan="2"><hr /></td></tr>
</tbody>
</table>

</form>
